Repository 312-dev/eclosion-for-monarch: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-file-length, frontend-lint, frontend-typecheck

python-file-length:
  name: python-file-length
  entry: python scripts/check-file-length.py
  language: system
  pass_filenames: true

frontend-lint:
  name: frontend-lint
  entry: npx eslint --max-warnings=0 -c frontend/eslint.config.js
  language: system
  pass_filenames: true

frontend-typecheck:
  name: frontend-typecheck
  entry: bash -c 'cd frontend && npm run type-check'
  language: system
  pass_filenames: false

refactor: extract shared utilities for release notes pipeline
  scripts/release-notes-updater/index.ts
  scripts/release-notes-updater/utils.ts
Due: none

refactor: deduplicate generate-notes against shared utils and previous releases
  scripts/release-notes-updater/generate-notes.ts
Due: none

feat: deduplicate similar commits within same release notes
  scripts/release-notes-updater/generate-notes.ts
  scripts/release-notes-updater/generator.ts
Due: none

fix: reposition nav badge inline on desktop, icon-overlay on mobile
  frontend/src/components/layout/NavItemLink.tsx
  frontend/src/index.css
Due: frontend-lint, frontend-typecheck

feat: add browsable recent updates when all caught up
  frontend/src/components/updates/RecentUpdates.tsx
  frontend/src/components/updates/UpdatesCarousel.tsx
  frontend/src/components/updates/updatesUtils.tsx
  frontend/src/hooks/useUpdatesState.ts
Due: frontend-lint, frontend-typecheck

fix: resolve CI failures in desktop lint and backend formatting
  core/middleware.py
  desktop/src/main/tunnel.ts
Due: python-file-length

feat: graduated cleanup to preserve artifacts on late-stage failures
  .github/workflows/20-release-beta.yml
  .github/workflows/21-release-stable.yml
  .github/workflows/22-release-pipeline.yml
Due: none

feat: tunnel improvements and CLAUDE.md consolidation
  .claude/rules/available-to-stash.md
  .claude/rules/data-stores.md
  .claude/rules/demo-mode.md
  .claude/rules/documentation.md
  .claude/rules/testing.md
  .claude/rules/workflows.md
  CLAUDE.md
  desktop/src/main/store.ts
  desktop/src/main/window.ts
  frontend/index.html
  frontend/src/components/passphrase/PassphraseFormFields.tsx
  frontend/src/components/passphrase/PassphrasePrompt.tsx
  frontend/src/components/settings/desktop/RemoteAccessSection.tsx
  frontend/src/components/settings/desktop/SubdomainClaimForm.tsx
  frontend/src/components/settings/desktop/TunnelStatusDisplay.tsx
  workers/tunnel-gate/src/otp-page.ts
  workers/tunnel-provisioner/src/claim.ts
  workers/tunnel-provisioner/src/cloudflare-api.ts
Due: frontend-lint, frontend-typecheck

fix: resolve type errors in PassphrasePrompt and SubdomainClaimForm
  frontend/src/components/passphrase/PassphrasePrompt.tsx
  frontend/src/components/settings/desktop/SubdomainClaimForm.tsx
Due: frontend-lint, frontend-typecheck

fix: invalidate dashboard before stash queries on sync
  frontend/src/api/queries/dependencies.ts
Due: frontend-lint, frontend-typecheck

fix: remove failed login alerts from demo seed data
  frontend/src/api/demo/demoSecurity.ts
  frontend/src/api/demo/demoSecurityData.ts
Due: frontend-lint, frontend-typecheck

feat: add stripNameSuffix utility for cleaner recurring item display
  frontend/src/utils/formatters.ts
  frontend/src/utils/index.ts
Due: frontend-lint, frontend-typecheck

refactor: redesign recurring item UI with inline actions
  frontend/src/components/RecurringList.tsx
  frontend/src/components/recurring/ActionsDropdown.tsx
  frontend/src/components/recurring/CategoryGroupDropdown.tsx
  frontend/src/components/recurring/EnableTrackingMenu.tsx
  frontend/src/components/recurring/RecurringCard.tsx
  frontend/src/components/recurring/RecurringItemBudget.tsx
  frontend/src/components/recurring/RecurringItemHeader.tsx
  frontend/src/components/recurring/RecurringListEmpty.tsx
  frontend/src/components/recurring/RecurringListHeader.tsx
  frontend/src/components/recurring/RecurringListSectionHeader.tsx
  frontend/src/components/recurring/RecurringRow.tsx
  frontend/src/components/recurring/index.ts
  frontend/src/index.css
Due: frontend-lint, frontend-typecheck

refactor: redesign rollup item UI with compact layout
  frontend/src/components/rollup/RollupItemCard.tsx
  frontend/src/components/rollup/RollupItemRow.tsx
  frontend/src/components/rollup/RollupItemsTable.tsx
Due: frontend-lint, frontend-typecheck

fix: remove skeleton loading state and fix portal click propagation
  frontend/src/components/SearchableSelect.tsx
  frontend/src/components/layout/AppShell.tsx
Due: frontend-lint, frontend-typecheck

docs: update recurring tour step copy for new UI
  frontend/src/components/layout/recurringTourSteps.tsx
Due: frontend-lint, frontend-typecheck

chore: update electron-builder beta config for stable release
  desktop/electron-builder.beta.yml
Due: none

fix: resolve exactOptionalPropertyTypes error in InlineActionIcon
  frontend/src/components/recurring/RecurringItemHeader.tsx
Due: frontend-lint, frontend-typecheck

feat(ifttt): add IFTTT Cloudflare Worker service
  workers/ifttt-service/IFTTT.md
  workers/ifttt-service/package-lock.json
  workers/ifttt-service/package.json
  workers/ifttt-service/src/auth/authorize-page.ts
  workers/ifttt-service/src/auth/demo-login.ts
  workers/ifttt-service/src/auth/oauth.ts
  workers/ifttt-service/src/auth/tokens.ts
  workers/ifttt-service/src/broker/event-broker.ts
  workers/ifttt-service/src/broker/realtime.ts
  workers/ifttt-service/src/ifttt/actions.ts
  workers/ifttt-service/src/ifttt/field-options.ts
  workers/ifttt-service/src/ifttt/queries.ts
  workers/ifttt-service/src/ifttt/status.ts
  workers/ifttt-service/src/ifttt/test-setup.ts
  workers/ifttt-service/src/ifttt/triggers.test.ts
  workers/ifttt-service/src/ifttt/triggers.ts
  workers/ifttt-service/src/ifttt/user-info.ts
  workers/ifttt-service/src/index.ts
  workers/ifttt-service/src/proxy/tunnel-proxy.ts
  workers/ifttt-service/src/types.ts
  workers/ifttt-service/tsconfig.json
  workers/ifttt-service/wrangler.toml
Due: none

chore: sync version.txt to 1.1.4
  version.txt
Due: none

fix: resolve lint and React purity errors
  blueprints/internal.py
  frontend/src/components/SecurityPanel.tsx
  frontend/src/components/settings/desktop/IftttSection.tsx
  frontend/src/components/settings/desktop/TunnelStatusDisplay.tsx
Due: python-file-length, frontend-lint, frontend-typecheck

fix: resolve remaining mypy type errors
  blueprints/ifttt.py
  services/category_manager.py
Due: python-file-length

fix: correct appId and productName in beta electron-builder config
  desktop/electron-builder.beta.yml
Due: none

feat: auto-link stash items on import and override existing records
  blueprints/settings.py
  services/settings_export_service.py
Due: python-file-length

feat: auto-link stash items, export app settings, and import recurring config fields
  frontend/src/api/demo/demoSettingsExport.ts
  frontend/src/api/demo/demoSettingsHelpers.ts
  frontend/src/api/demo/demoSettingsImport.ts
  frontend/src/types/settings-export.ts
Due: frontend-lint, frontend-typecheck

feat: add link/change category actions in edit stash form
  frontend/src/components/stash/EditStashForm.tsx
  frontend/src/components/stash/StashModalComponents.tsx
Due: frontend-lint, frontend-typecheck

test: split settings export tests by domain and add coverage
  frontend/src/api/settingsExport.test.ts
  frontend/src/api/settingsExportMisc.test.ts
  frontend/src/api/settingsExportNotes.test.ts
  frontend/src/api/settingsExportStash.test.ts
  frontend/src/api/settingsExportTestUtils.ts
Due: frontend-lint, frontend-typecheck

style: format Python files with ruff
  blueprints/settings.py
  services/settings_export_service.py
Due: python-file-length

feat: add IFTTT integration and remote command execution
  blueprints/__init__.py
  blueprints/ifttt.py
  blueprints/internal.py
  blueprints/remote.py
  core/middleware.py
  desktop/src/main/remote-commands.ts
  desktop/src/main/tunnel.ts
  services/ifttt_service.py
  workers/tunnel-gate/src/index.ts
  workers/tunnel-provisioner/src/admin-cleanup.ts
  workers/tunnel-provisioner/src/claim.ts
  workers/tunnel-provisioner/src/cloudflare-api.ts
  workers/tunnel-provisioner/src/index.ts
  workers/tunnel-provisioner/src/migrate-dns.ts
  workers/tunnel-provisioner/src/unclaim.ts
  workers/tunnel-provisioner/wrangler.toml
Due: python-file-length

feat: update IFTTT settings UI and log viewer enhancements
  frontend/src/components/layout/SidebarNavigation.tsx
  frontend/src/components/settings/LogViewerSection.tsx
  frontend/src/components/settings/desktop/DesktopSectionGroups.tsx
  frontend/src/components/settings/desktop/IftttSection.tsx
  frontend/src/components/wizards/RecurringSetupWizard.tsx
  frontend/src/hooks/useLogSource.ts
Due: frontend-lint, frontend-typecheck

refactor: remove user-consent auto-sync system
  api.py
  blueprints/recurring.py
  core/__init__.py
  core/automation_credentials.py
  core/config.py
  core/middleware.py
  desktop/src/main/ipc.ts
  desktop/src/main/periodic-sync.ts
  desktop/src/preload/index.ts
  frontend/src/api/queries/keys.ts
  frontend/src/components/settings/desktop/DesktopSection.tsx
  frontend/src/components/settings/desktop/DesktopSectionGroups.tsx
  frontend/src/components/settings/desktop/DesktopSyncSections.tsx
  frontend/src/hooks/index.ts
  frontend/src/hooks/useAutoSyncVisibility.ts
  frontend/src/types/dashboard.ts
  frontend/src/types/electron.d.ts
  frontend/src/types/index.ts
  frontend/src/types/sync.ts
Due: python-file-length, frontend-lint, frontend-typecheck

fix: resolve mypy type error in update_acknowledgements
  state/state_manager.py
Due: python-file-length

feat: generate desktop icons at build time with liquid glass support
  .gitignore
  desktop/assets/icon-beta.icns
  desktop/assets/icon-beta.ico
  desktop/assets/icon-beta.png
  desktop/assets/icon-beta.svg
  desktop/assets/icon.icns
  desktop/assets/icon.ico
  desktop/assets/icon.png
  desktop/assets/tray/iconTemplate.png
  desktop/assets/tray/iconTemplate@2x.png
  desktop/assets/tray/tray.ico
  desktop/assets/tray/tray.png
  desktop/electron-builder.beta.yml
  desktop/electron-builder.yml
  desktop/scripts/generate-icons.js
Due: none

feat: enhance PWA with PNG icons, shortcuts, and theme-aware colors
  frontend/index.html
  frontend/public/icons/apple-touch-icon.png
  frontend/public/icons/icon-192.png
  frontend/public/icons/icon-512.png
  frontend/public/manifest.json
  frontend/public/sw.js
Due: none

feat: serve PWA manifest and icons directly from tunnel-gate worker
  workers/tunnel-gate/src/assets/apple-touch-icon.png
  workers/tunnel-gate/src/assets/icon-192.png
  workers/tunnel-gate/src/assets/icon-192.svg
  workers/tunnel-gate/src/assets/icon-512.png
  workers/tunnel-gate/src/assets/icon-512.svg
  workers/tunnel-gate/src/assets/svg.d.ts
  workers/tunnel-gate/src/index.ts
  workers/tunnel-gate/wrangler.toml
Due: none

fix: add icon generation step to desktop build workflow (#248)
  .github/workflows/23-build-desktop.yml
Due: none

rename spending_streak to under_budget_streak for IFTTT
  blueprints/ifttt.py
  frontend/src/components/settings/desktop/IftttSection.tsx
  services/ifttt_service.py
  services/sync_service.py
  workers/ifttt-service/IFTTT.md
  workers/ifttt-service/src/ifttt/field-options.ts
  workers/ifttt-service/src/ifttt/test-setup.ts
  workers/ifttt-service/src/ifttt/triggers.ts
Due: python-file-length, frontend-lint, frontend-typecheck

style: fix ruff format for sync_service.py
  services/sync_service.py
Due: python-file-length

Path conditions:
  python-file-length: any of: \.py$, but not: ^(frontend/|tests/|lib/|scripts/)
  frontend-lint: any of: ^frontend/src/.*\.(ts|tsx)$
  frontend-typecheck: any of: ^frontend/.*\.(ts|tsx)$
