Repository 312-dev/eclosion-for-monarch: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-file-length, frontend-lint, frontend-typecheck

python-file-length:
  name: python-file-length
  entry: python scripts/check-file-length.py
  language: system
  pass_filenames: true

frontend-lint:
  name: frontend-lint
  entry: npx eslint --max-warnings=0 -c frontend/eslint.config.js
  language: system
  pass_filenames: true

frontend-typecheck:
  name: frontend-typecheck
  entry: bash -c 'cd frontend && npm run type-check'
  language: system
  pass_filenames: false

fix: add Pillow dependency for favicon image processing
  requirements.in
  requirements.txt
Due: none

fix: include Pillow in dev requirements
  requirements-dev.txt
Due: none

chore: ignore glibc CVE-2025-15281 pending base image update
  .trivyignore
Due: none

fix(deps): update monarchmoney to fix Windows build
  requirements-vcs.txt
Due: none

chore(deps): only rebase Renovate PRs on conflicts
  renovate.json
Due: none

fix(build): remove pip from requirements-build.txt
  requirements-build.txt
Due: none

feat(ui): add animated icon components
  frontend/src/components/motion/index.ts
  frontend/src/components/motion/useReducedMotion.ts
  frontend/src/components/motion/variants.ts
  frontend/src/components/ui/bookmark.tsx
  frontend/src/components/ui/plus.tsx
  frontend/src/components/ui/settings.tsx
Due: frontend-lint, frontend-typecheck

feat(hooks): add useArrowKeyIncrement for keyboard input
  frontend/src/hooks/index.ts
  frontend/src/hooks/useArrowKeyIncrement.test.ts
  frontend/src/hooks/useArrowKeyIncrement.ts
Due: frontend-lint, frontend-typecheck

update(stash): improve stash components and distribution features
  blueprints/stash.py
  frontend/src/api/demo/demoStash.ts
  frontend/src/api/queries/stashQueries.ts
  frontend/src/components/stash/AvailableFundsBar.tsx
  frontend/src/components/stash/AvailableToStash.tsx
  frontend/src/components/stash/BreakdownComponents.tsx
  frontend/src/components/stash/BreakdownRow.tsx
  frontend/src/components/stash/BreakdownTooltip.tsx
  frontend/src/components/stash/BufferInputRow.tsx
  frontend/src/components/stash/CardAllocationInput.tsx
  frontend/src/components/stash/DistributeButton.tsx
  frontend/src/components/stash/DistributionModeBanner.tsx
  frontend/src/components/stash/EditStashProgress.tsx
  frontend/src/components/stash/HypothesizeButton.tsx
  frontend/src/components/stash/LeftToBudgetRow.tsx
  frontend/src/components/stash/MonarchGoalCard.tsx
  frontend/src/components/stash/MonarchGoalProgressBar.tsx
  frontend/src/components/stash/NewStashForm.tsx
  frontend/src/components/stash/PendingReviewSection.tsx
  frontend/src/components/stash/StashActionsDropdown.tsx
  frontend/src/components/stash/StashBudgetInput.tsx
  frontend/src/components/stash/StashCard.tsx
  frontend/src/components/stash/StashFormFields.tsx
  frontend/src/components/stash/StashReportsView.tsx
  frontend/src/components/stash/StashRow.tsx
  frontend/src/components/stash/StashSummaryCards.tsx
  frontend/src/components/stash/StashTitleDropdown.tsx
  frontend/src/components/stash/StashWidgetGrid.tsx
  frontend/src/components/stash/WithdrawDepositOverlay.tsx
  frontend/src/components/stash/overlayButtonStyles.ts
  frontend/src/components/stash/timeline/TimelineEditPopover.tsx
  frontend/src/components/stash/timeline/TimelineSidebar.tsx
  frontend/src/hooks/useDistributionBannerActions.ts
  frontend/src/hooks/useStashTour.ts
  frontend/src/utils/availableToStash.ts
  services/stash_service.py
Due: python-file-length, frontend-lint, frontend-typecheck

update(types): fix type safety issues across components
  frontend/src/components/SyncButton.tsx
  frontend/src/components/icons/index.tsx
  frontend/src/components/shared/SavingsProgressBar.tsx
  frontend/src/components/ui/bookmark.tsx
  frontend/src/components/ui/plus.tsx
  frontend/src/components/ui/settings.tsx
  frontend/src/hooks/useAppTour.ts
Due: frontend-lint, frontend-typecheck

fix(lint): remove unused jsonify import from security blueprint
  blueprints/security.py
Due: python-file-length

style(lint): format stash blueprint with ruff
  blueprints/stash.py
Due: python-file-length

refactor(stash): extract overlay components to reduce file length
  frontend/src/components/stash/OverlayActionButtons.tsx
  frontend/src/components/stash/OverlayInputSection.tsx
  frontend/src/components/stash/WithdrawDepositOverlay.tsx
  frontend/src/components/stash/useOverlayState.ts
Due: frontend-lint, frontend-typecheck

chore(security): temporarily ignore OpenSSL CVEs in base image
  trivy.yaml
Due: none

fix(security): update Chainguard Python images to patch OpenSSL CVEs
  .trivyignore
  Dockerfile
Due: none

feat(desktop): add Openverse API to CSP for image search
  desktop/src/main/window.ts
Due: none

fix(stash): debt account selector and UI improvements (#232)
  desktop/src/main/window.ts
  frontend/src/components/layout/stashTourSteps.tsx
  frontend/src/components/stash/DebtAccountSelectorModal.tsx
  frontend/src/components/tabs/StashTab.tsx
  frontend/src/components/ui/ToolPageHeader.tsx
  frontend/src/hooks/useStashTour.ts
  frontend/src/index.css
Due: frontend-lint, frontend-typecheck

chore: add dev session file to gitignore
  .gitignore
Due: none

feat(ui): add animated emoji system with Telegram animations
  frontend/src/components/ui/AnimatedEmoji.tsx
  frontend/src/components/ui/index.ts
  frontend/src/data/animatedEmojiMap.ts
  frontend/src/utils/formatters.ts
  frontend/src/utils/index.ts
Due: frontend-lint, frontend-typecheck

feat(settings): add SettingsSectionHeader component
  frontend/src/components/settings/SettingsSectionHeader.tsx
  frontend/src/components/settings/index.ts
Due: frontend-lint, frontend-typecheck

refactor(settings): enhance tool settings with variant support
  frontend/src/components/settings/NotesToolCard.tsx
  frontend/src/components/settings/NotesToolSettings.tsx
  frontend/src/components/settings/RecurringToolSettings.tsx
  frontend/src/components/settings/StashToolSettings.tsx
  frontend/src/components/settings/ToolSettingsHeader.tsx
Due: frontend-lint, frontend-typecheck

refactor(timeline): simplify StabilizationTimeline to use Tooltip
  frontend/src/components/ready-to-assign/ReadyToAssign.tsx
  frontend/src/components/ready-to-assign/StabilizationTimeline.tsx
  frontend/src/components/ready-to-assign/index.ts
Due: frontend-lint, frontend-typecheck

style: miscellaneous UI polish and fixes
  frontend/src/api/demoData.ts
  frontend/src/api/queries/monarchGoalQueries.ts
  frontend/src/components/EmojiPicker.tsx
  frontend/src/components/SearchableSelect.tsx
  frontend/src/components/SecurityPanel.tsx
  frontend/src/components/icons/index.tsx
  frontend/src/components/layout/SidebarNavigation.tsx
  frontend/src/components/notes/CategoryTree.tsx
  frontend/src/components/notes/DateRangeSelector.tsx
  frontend/src/components/notes/MonthPicker.tsx
  frontend/src/components/notes/MonthYearSelector.tsx
  frontend/src/components/recurring/CategoryGroupDropdown.tsx
  frontend/src/components/recurring/RecurringItemProgress.tsx
  frontend/src/components/recurring/StaleWarningPopover.tsx
  frontend/src/components/tabs/NotesTab.tsx
  frontend/src/components/tabs/RecurringTab.tsx
  frontend/src/components/tabs/StashTab.tsx
  frontend/src/components/ui/GetStartedDeploymentSelection.tsx
  frontend/src/components/ui/Modal.tsx
  frontend/src/components/ui/ToolSettingsModal.tsx
  frontend/src/components/ui/ToolTile.tsx
  frontend/src/components/ui/bookmark.tsx
  frontend/src/components/wizards/SetupWizardIcons.tsx
  frontend/src/pages/download/DownloadSections.tsx
  frontend/src/types/monarchGoal.ts
Due: frontend-lint, frontend-typecheck

feat(api): add icon field to Monarch goal responses
  monarch_utils.py
  services/stash_service.py
Due: python-file-length

fix: address lint warnings and dropdown styling
  frontend/src/components/SearchableSelect.tsx
  frontend/src/components/recurring/CategoryGroupDropdown.tsx
  frontend/src/components/wizards/SetupWizardIcons.tsx
Due: frontend-lint, frontend-typecheck

fix(build): add arch suffix to AppImage artifact name
  desktop/electron-builder.yml
Due: none

feat(frontend): integrate remote access into app routing
  frontend/src/App.tsx
  frontend/src/hooks/index.ts
Due: frontend-lint, frontend-typecheck

fix(frontend): refactor cooldown timer to reduce component size
  frontend/src/components/passphrase/PassphrasePrompt.tsx
  frontend/src/components/passphrase/useCooldownTimer.ts
Due: frontend-lint, frontend-typecheck

feat(frontend): update passphrase components for remote unlock
  frontend/src/components/passphrase/PassphraseHeader.tsx
  frontend/src/components/passphrase/PassphrasePrompt.tsx
  frontend/src/components/passphrase/usePassphraseSubmit.ts
  frontend/src/components/passphrase/useRemoteUnlock.ts
  frontend/src/pages/UnlockPage.tsx
Due: frontend-lint, frontend-typecheck

feat(frontend): add remote access API and type definitions
  frontend/src/api/core/auth.ts
  frontend/src/api/core/index.ts
  frontend/src/api/core/security.ts
  frontend/src/api/demo/demoSecurity.ts
  frontend/src/api/demo/demoSecurityData.ts
  frontend/src/types/electron.d.ts
  frontend/src/types/security.ts
Due: frontend-lint, frontend-typecheck

feat(frontend): add remote access UI components
  frontend/src/components/RemoteAccessIndicator.tsx
  frontend/src/components/icons/RadioIcon.tsx
  frontend/src/components/settings/RemoteAccessWarningBanner.tsx
  frontend/src/components/settings/SettingsModals.tsx
  frontend/src/components/settings/desktop/RemoteAccessPassphraseModal.tsx
  frontend/src/components/settings/desktop/RemoteAccessSection.tsx
  frontend/src/components/settings/desktop/index.ts
  frontend/src/hooks/useTunnelStatus.ts
Due: frontend-lint, frontend-typecheck

refactor(frontend): update layout components
  frontend/src/components/SecurityPanel.tsx
  frontend/src/components/layout/AppHeader.tsx
  frontend/src/components/layout/SidebarNavigation.tsx
  frontend/src/components/marketing/MockupSettingsPanel.tsx
Due: frontend-lint, frontend-typecheck

chore(scripts): update dev script
  scripts/dev.sh
Due: none

refactor(frontend): update settings tab for remote access
  frontend/src/components/settings/AppearanceSettings.tsx
  frontend/src/components/settings/CreditsSection.tsx
  frontend/src/components/settings/HiddenCategoriesModal.tsx
  frontend/src/components/settings/index.ts
  frontend/src/components/tabs/SettingsTab.tsx
Due: frontend-lint, frontend-typecheck

chore: fix version.txt to match 1.0.16
  version.txt
Due: none

fix: resolve mypy type errors
  api.py
  core/middleware.py
  tests/test_security_service.py
Due: python-file-length

fix: regenerate requirements-dev.txt to include requests
  requirements-dev.txt
Due: none

fix(security): address CodeQL security alerts
  api.py
  blueprints/security.py
  blueprints/stash.py
  core/audit.py
Due: python-file-length

fix(security): add CodeQL suppression comments for false positives
  api.py
  blueprints/security.py
  blueprints/stash.py
Due: python-file-length

Path conditions:
  python-file-length: any of: \.py$, but not: ^(frontend/|tests/|lib/|scripts/)
  frontend-lint: any of: ^frontend/src/.*\.(ts|tsx)$
  frontend-typecheck: any of: ^frontend/.*\.(ts|tsx)$
