Repository 312-dev/eclosion-for-monarch: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, frontend-lint, frontend-typecheck

mypy:
  name: mypy
  entry: mypy
  language: system
  args:
  - --config-file=pyproject.toml
  pass_filenames: true
  require_serial: true

frontend-lint:
  name: frontend-lint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

frontend-typecheck:
  name: frontend-typecheck
  entry: bash -c 'cd frontend && npm run type-check'
  language: system
  pass_filenames: false

fix: use glob patterns for signIgnore to match electron-builder's minimatch
  desktop/electron-builder.yml
Due: none

fix: use regex patterns for signIgnore in electron-builder
  desktop/electron-builder.yml
Due: none

fix: do not sign Python.framework bundle (conflicts with signed binary)
  desktop/afterPack.js
Due: none

fix: upgrade Node.js to 22 for @electron/notarize compatibility
  .github/workflows/build-desktop.yml
Due: none

fix: skip Python.framework bundle signing (ambiguous format)
  desktop/afterPack.js
Due: none

fix: only sign versioned Python directory, skip Current
  desktop/afterPack.js
Due: none

fix: sign ALL Python binaries (PyInstaller creates copies, not symlinks)
  desktop/afterPack.js
Due: none

docs: document PyInstaller code signing solution in afterPack.js
  desktop/afterPack.js
Due: none

feat: update versioning in package.json and add version consistency check workflow
  .github/workflows/build-desktop.yml
  .github/workflows/create-beta.yml
  .github/workflows/create-stable.yml
  .github/workflows/version-check.yml
  desktop/package.json
Due: none

fix: handle package visibility setting failure gracefully in release pipeline
  .github/workflows/release-pipeline.yml
Due: none

feat: add automated screenshot generation with macOS window chrome
  README.md
  frontend/src/components/tabs/DashboardTab.tsx
  frontend/src/components/tabs/RecurringTab.tsx
  frontend/src/components/tabs/SettingsTab.tsx
  scripts/screenshots-gen/.gitignore
  scripts/screenshots-gen/capture.ts
  scripts/screenshots-gen/config.ts
  scripts/screenshots-gen/frame.ts
  scripts/screenshots-gen/index.ts
  scripts/screenshots-gen/package-lock.json
  scripts/screenshots-gen/package.json
  scripts/screenshots-gen/tsconfig.json
  scripts/screenshots-gen/types.ts
Due: frontend-lint, frontend-typecheck

feat: fetch and display beta releases in changelog on beta site
  frontend/src/api/queries/versionQueries.ts
  frontend/src/utils/githubRelease.ts
Due: frontend-lint, frontend-typecheck

feat: add backend support for notes and MFA code mode
  api.py
  core/config.py
  monarch_utils.py
  requirements.txt
  services/credentials_service.py
  services/sync_service.py
  state/db/__init__.py
  state/db/database.py
  state/db/migrations/env.py
  state/db/migrations/script.py.mako
  state/db/models/__init__.py
  state/db/models/base.py
  state/db/models/credentials.py
  state/db/models/notes.py
  state/db/models/security.py
  state/db/models/tracker.py
  state/state_manager.py
Due: mypy

feat: add desktop re-authentication IPC and notifications
  desktop/src/main/index.ts
  desktop/src/main/periodic-sync.ts
  desktop/src/main/tray.ts
  desktop/src/preload/index.ts
  frontend/src/types/electron.d.ts
Due: frontend-lint, frontend-typecheck

feat: add beta warning modal and beta icon
  desktop/assets/icon-beta.svg
  frontend/src/components/ui/BetaWarningModal.tsx
Due: frontend-lint, frontend-typecheck

feat: add notes utilities, types, and hooks
  frontend/src/hooks/index.ts
  frontend/src/hooks/useCheckboxState.ts
  frontend/src/hooks/useExportSelection.ts
  frontend/src/hooks/useHiddenCategories.test.ts
  frontend/src/hooks/useHiddenCategories.ts
  frontend/src/types/notes.ts
  frontend/src/utils/dateRangeUtils.ts
  frontend/src/utils/index.ts
  frontend/src/utils/mathEvaluator.test.ts
  frontend/src/utils/mathEvaluator.ts
  frontend/src/utils/notesExport.test.ts
  frontend/src/utils/notesExport.ts
  frontend/src/utils/notesTransform.test.ts
  frontend/src/utils/notesTransform.ts
Due: frontend-lint, frontend-typecheck

feat: add notes API client and React Query integration
  frontend/src/api/core/index.ts
  frontend/src/api/core/notes.ts
  frontend/src/api/demo/demoNotes.ts
  frontend/src/api/demo/demoSecurityData.ts
  frontend/src/api/demo/index.ts
  frontend/src/api/demoData.ts
  frontend/src/api/queries/index.ts
  frontend/src/api/queries/keys.ts
  frontend/src/api/queries/notesQueries.ts
Due: frontend-lint, frontend-typecheck

feat: add notes UI components
  frontend/src/components/notes/ArchivedNotesSection.tsx
  frontend/src/components/notes/CategoryRow.tsx
  frontend/src/components/notes/CategoryTree.tsx
  frontend/src/components/notes/DateRangeSelector.tsx
  frontend/src/components/notes/ExportGroupRow.tsx
  frontend/src/components/notes/ExportNotesModal.tsx
  frontend/src/components/notes/GeneralMonthNotes.tsx
  frontend/src/components/notes/MarkdownRenderer.tsx
  frontend/src/components/notes/MonthNavigator.tsx
  frontend/src/components/notes/MonthPicker.tsx
  frontend/src/components/notes/MonthYearSelector.tsx
  frontend/src/components/notes/NoteDisplay.tsx
  frontend/src/components/notes/NoteEditor.tsx
  frontend/src/components/notes/NoteEditorMDX.tsx
  frontend/src/components/notes/NoteEditorModal.tsx
  frontend/src/components/notes/ReaderView.tsx
  frontend/src/components/notes/RevisionHistoryModal.tsx
  frontend/src/components/notes/index.ts
Due: frontend-lint, frontend-typecheck

fix: resolve TypeScript errors for beta build
  desktop/src/main/autostart.ts
  desktop/src/main/backup.ts
  desktop/src/main/biometric.ts
  desktop/src/main/cleanup.ts
  desktop/src/main/diagnostics.ts
  desktop/src/main/hotkeys.ts
  desktop/src/main/lock-manager.ts
  desktop/src/main/onboarding.ts
  desktop/src/main/periodic-sync.ts
  desktop/src/main/startup-metrics.ts
  desktop/src/main/tray.ts
  desktop/src/main/window.ts
  frontend/src/components/settings/AccountSection.tsx
  frontend/src/components/tabs/NotesTab.tsx
  frontend/src/hooks/useCheckboxState.ts
  frontend/src/index.css
  frontend/src/utils/index.ts
  frontend/src/utils/notesTransform.ts
Due: frontend-lint, frontend-typecheck

fix: lazy electron-store init in remaining 3 files
  desktop/src/main/background-sync/index.ts
  desktop/src/main/ipc.ts
  desktop/src/main/tray.ts
Due: none

fix: additional TypeScript errors for beta build
  frontend/src/api/core/index.ts
  frontend/src/api/demo/demoNotes.ts
  frontend/src/api/queries/notesQueries.ts
  frontend/src/components/notes/GeneralMonthNotes.tsx
  frontend/src/components/notes/NoteEditorModal.tsx
  frontend/src/hooks/useCheckboxState.ts
  frontend/src/types/electron.d.ts
Due: frontend-lint, frontend-typecheck

ci: add permissions: read-all to all workflows
  .github/workflows/branch-naming.yml
  .github/workflows/ci.yml
  .github/workflows/docker-publish.yml
  .github/workflows/generate-contributors.yml
  .github/workflows/generate-docs.yml
  .github/workflows/release-pipeline.yml
  .github/workflows/security.yml
  .github/workflows/sync-productboard.yml
  .github/workflows/sync-wiki.yml
  .github/workflows/version-check.yml
Due: none

ci: pin all GitHub Actions to SHA hashes
  .github/workflows/build-desktop.yml
  .github/workflows/ci.yml
  .github/workflows/create-beta.yml
  .github/workflows/create-stable.yml
  .github/workflows/deploy-cloudflare.yml
  .github/workflows/docker-publish.yml
  .github/workflows/generate-contributors.yml
  .github/workflows/generate-docs.yml
  .github/workflows/release-pipeline.yml
  .github/workflows/scorecard.yml
  .github/workflows/security.yml
  .github/workflows/sync-productboard.yml
  .github/workflows/sync-wiki.yml
  .github/workflows/version-check.yml
Due: none

ci: use version tags in scorecard workflow
  .github/workflows/scorecard.yml
Due: none

style: format credentials_repo.py
  state/db/repositories/credentials_repo.py
Due: mypy

feat: add MFA code mode and beta build improvements
  api.py
  desktop/assets/icon-beta.icns
  desktop/assets/icon-beta.ico
  desktop/assets/icon-beta.png
  desktop/src/main/window.ts
  frontend/src/api/core/auth.ts
  frontend/src/components/LoginForm.tsx
  frontend/src/components/layout/SidebarNavigation.tsx
  monarch_utils.py
  services/credentials_service.py
Due: mypy, frontend-lint, frontend-typecheck

fix: update UnlockPage test mocks for correct import paths
  frontend/src/pages/UnlockPage.test.tsx
Due: frontend-lint, frontend-typecheck

fix: remove read-all permissions from release pipeline
  .github/workflows/release-pipeline.yml
Due: none

docs: update branch protection and dependency documentation
  CONTRIBUTING.md
Due: none

fix: add greenlet to requirements for SQLAlchemy async support
  requirements-dev.txt
  requirements.in
  requirements.txt
Due: none

fix: add oathtool dependency for monarchmoney VCS package
  requirements-dev.txt
  requirements.in
  requirements.txt
Due: none

docs: update dependency management and branch protection documentation (#155)
  .github/workflows/build-desktop.yml
  .github/workflows/ci.yml
  CLAUDE.md
  CONTRIBUTING.md
  Dockerfile
  requirements-dev.in
  requirements-dev.txt
  requirements-vcs.txt
  requirements.in
  requirements.txt
Due: none

fix: allow dependabot/ branch prefix in CI (#157)
  .github/workflows/branch-naming.yml
  CLAUDE.md
Due: none

chore: switch from Dependabot to Renovate (#159)
  .github/dependabot.yml
  renovate.json
Due: none

feat: add integration tests infrastructure for Monarch API
  .github/workflows/integration-tests.yml
  scripts/check-monarch-api-coverage.py
  tests/integration/__init__.py
  tests/integration/conftest.py
  tests/integration/dry_run.py
  tests/integration/test_api_coverage.py
  tests/integration/test_authentication.py
  tests/integration/test_budget_operations.py
  tests/integration/test_category_lifecycle.py
  tests/integration/test_services.py
  tests/integration/test_sync_readonly.py
Due: mypy

feat(frontend): add MFA re-authentication prompt
  frontend/src/components/MfaReauthPrompt.tsx
  frontend/src/context/AuthContext.tsx
Due: frontend-lint, frontend-typecheck

chore: update GitHub CI/CD configuration
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/mlc_config.json
  .github/scorecard.yml
  .github/workflows/build-desktop.yml
  .github/workflows/ci.yml
  .github/workflows/copilot-review.yml
  .github/workflows/create-beta.yml
  .github/workflows/create-stable.yml
Due: none

chore(deps): update dependencies and build configuration
  Dockerfile
  desktop/electron-builder.beta.yml
  desktop/package-lock.json
  desktop/package.json
  renovate.json
  requirements-vcs.txt
Due: none

Path conditions:
  mypy: any of: \.py$, but not: ^(frontend/|tests/)
  frontend-lint: any of: ^frontend/.*\.(ts|tsx)$
  frontend-typecheck: any of: ^frontend/.*\.(ts|tsx)$
