Repository 312-dev/eclosion-for-monarch: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, frontend-lint, frontend-typecheck

.pre-commit-config.yaml:

# Pre-commit hooks for Eclosion
# Install: pre-commit install
# Run manually: pre-commit run --all-files

default_language_version:
  python: python3.11

# Tip: Use `pre-commit run --hook-stage manual gitleaks` for full repo scan
# Normal commits only scan staged changes (much faster)

repos:
  # General file checks (fast - run first for fail-fast)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ["--maxkb=1000"]
      - id: detect-private-key
      - id: check-yaml
        args: [--unsafe]
      - id: check-json
        exclude: ^frontend/
      - id: trailing-whitespace
        exclude: ^frontend/
      - id: end-of-file-fixer
        exclude: ^frontend/

  # Gitleaks - Secret detection
  # Runs on staged files during commits; full scan happens in CI
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.21.2
    hooks:
      - id: gitleaks
        args: [protect, --staged, --redact]

  # Ruff - Python linting and formatting (very fast)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.4
    hooks:
      # Linter
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        types_or: [python, pyi]
        exclude: ^frontend/
      # Formatter (replaces black)
      - id: ruff-format
        types_or: [python, pyi]
        exclude: ^frontend/

  # Type checking and frontend checks
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        exclude: ^(frontend/|tests/)
        args: [--config-file=pyproject.toml]
        pass_filenames: true
        require_serial: true

      # Frontend linting - only changed files for speed
      - id: frontend-lint
        name: frontend-lint
        entry: npx eslint --max-warnings=0 -c frontend/eslint.config.js
        language: system
        files: ^frontend/src/.*\.(ts|tsx)$
        pass_filenames: true

      # Frontend type checking (must check whole project for type coherence)
      - id: frontend-typecheck
        name: frontend-typecheck
        entry: bash -c 'cd frontend && npm run type-check'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false

ci: temporarily skip integration tests for beta release
  .github/workflows/20-release-beta.yml
Due: none

ci: re-enable integration tests for beta releases
  .github/workflows/20-release-beta.yml
Due: none

chore: reset version to 1.0.0 for first stable release
  desktop/package.json
  docusaurus/package.json
  frontend/package.json
  pyproject.toml
  version.txt
Due: none

fix: improve rate limit handling for Eclosion cooldown
  frontend/src/components/ui/RateLimitBanner.tsx
  frontend/src/context/RateLimitContext.tsx
Due: frontend-lint, frontend-typecheck

First Stable Release v1.0.0 (#200)
  .gitignore
  .trivyignore
  desktop/package.json
  desktop/src/main/backend.ts
  desktop/src/main/ipc.ts
  docusaurus/package.json
  frontend/package.json
  frontend/src/components/ui/RateLimitBanner.tsx
  frontend/src/context/RateLimitContext.tsx
  monarch_utils.py
  pyproject.toml
  requirements-vcs.txt
  version.txt
Due: mypy, frontend-lint, frontend-typecheck

fix: Windows title bar spacing and actions overlap
  frontend/src/components/layout/AppHeader.tsx
  frontend/src/components/layout/AppShell.tsx
Due: frontend-lint, frontend-typecheck

fix: Restore auto-backup settings section to desktop settings (#205)
  frontend/src/components/settings/desktop/DesktopSection.tsx
Due: frontend-lint, frontend-typecheck

feat: add collapsible technical details in release notes modal
  frontend/src/components/marketing/ReleaseNotesSection.tsx
  frontend/src/components/update/ReleaseNotesModal.tsx
  frontend/src/utils/releaseNotes.ts
  frontend/src/utils/releaseNotesParser.ts
Due: frontend-lint, frontend-typecheck

docs: update documentation for new calculation model
  CLAUDE.md
  docusaurus/docs/recurring/overview.mdx
Due: none

chore: clean up electron-builder configuration
  desktop/electron-builder.beta.yml
  desktop/electron-builder.yml
Due: none

fix: remove invalid updaterCacheDirName from electron-builder config (#207)
  desktop/electron-builder.beta.yml
  desktop/electron-builder.yml
Due: none

fix: auto-enable biometric protection for desktop users
  desktop/src/main/biometric.ts
  desktop/src/main/index.ts
Due: none

chore: add sonarjs and tailwind-canonical-classes eslint plugins
  frontend/eslint.config.js
  frontend/package-lock.json
  frontend/package.json
Due: none

fix: apply eslint rules to marketing components
  frontend/src/components/marketing/BenefitsList.tsx
  frontend/src/components/marketing/ChecksumDisplay.tsx
  frontend/src/components/marketing/CustomProblemCard.tsx
  frontend/src/components/marketing/DocsLayout.tsx
  frontend/src/components/marketing/FeatureCard.tsx
  frontend/src/components/marketing/FeatureGrid.tsx
  frontend/src/components/marketing/FrustrationCard.tsx
  frontend/src/components/marketing/FrustrationSection.tsx
  frontend/src/components/marketing/Hero.tsx
  frontend/src/components/marketing/IdeasBoard/DevCycleCard.tsx
  frontend/src/components/marketing/IdeasBoard/IdeaBubble.tsx
  frontend/src/components/marketing/IdeasBoard/IdeaTextInput.tsx
  frontend/src/components/marketing/IdeasBoard/IdeasBoard.tsx
  frontend/src/components/marketing/IdeasBoard/useIdeasAnimation.ts
  frontend/src/components/marketing/InstallationInstructions.tsx
  frontend/src/components/marketing/MockupMonthlySavings.tsx
  frontend/src/components/marketing/MockupRecurringItem.tsx
  frontend/src/components/marketing/MockupRecurringPreview.tsx
  frontend/src/components/marketing/MockupRollupZone.tsx
  frontend/src/components/marketing/PlatformDownloadCard.tsx
  frontend/src/components/marketing/PrivacyNote.tsx
  frontend/src/components/marketing/ReleaseNotesSection.tsx
  frontend/src/components/marketing/SocialProofBar.tsx
  frontend/src/components/marketing/TrustBadges.tsx
  frontend/src/components/marketing/UnsignedAppNotice.tsx
  frontend/src/components/marketing/WhyEclosionSection.tsx
Due: frontend-lint, frontend-typecheck

fix: apply eslint rules to docusaurus components
  docusaurus/package-lock.json
  docusaurus/package.json
  docusaurus/src/components/AnnotatedImage.tsx
  docusaurus/src/components/DemoEmbed.tsx
  docusaurus/src/components/FeatureCard.tsx
  docusaurus/src/components/StepPreview.tsx
  docusaurus/src/components/WorkflowSteps.tsx
Due: none

docs: update CLAUDE.md with ESLint and dev build info
  CLAUDE.md
Due: none

feat(desktop): add useBackgroundSync hook for system scheduler sync
  frontend/src/components/AutoSyncSettings.tsx
  frontend/src/components/settings/AutomationSection.tsx
  frontend/src/hooks/index.ts
  frontend/src/hooks/useBackgroundSync.ts
Due: frontend-lint, frontend-typecheck

refactor(settings): simplify and reorganize settings components
  frontend/src/components/settings/DangerZoneSection.tsx
  frontend/src/components/settings/DeveloperSection.tsx
  frontend/src/components/settings/HiddenCategoriesModal.tsx
  frontend/src/components/settings/LogViewerSection.tsx
  frontend/src/components/settings/NotesToolCard.tsx
  frontend/src/components/settings/NotesToolSettings.tsx
  frontend/src/components/settings/RecurringToolHeader.tsx
  frontend/src/components/settings/RecurringToolSettings.tsx
  frontend/src/components/settings/SettingsSidebar.tsx
  frontend/src/components/settings/ToggleSwitch.tsx
  frontend/src/components/settings/ToolSettingsHeader.tsx
  frontend/src/components/settings/desktop/DesktopSection.tsx
  frontend/src/components/settings/desktop/DesktopSectionGroups.tsx
  frontend/src/components/settings/desktop/DesktopSyncSections.tsx
  frontend/src/components/settings/index.ts
  frontend/src/components/tabs/RecurringTab.tsx
  frontend/src/components/tabs/SettingsTab.tsx
Due: frontend-lint, frontend-typecheck

docs: update CHANGELOG for v1.1.0-beta.2
  CHANGELOG.md
Due: none

test(StatusBadge): fix Enter key test to use userEvent
  frontend/src/components/ui/StatusBadge.test.tsx
Due: frontend-lint, frontend-typecheck

fix(ci): escape dollar signs in bash heredoc for node script
  .github/workflows/23-build-desktop.yml
Due: none

fix: use local midnight for date formatting to prevent timezone issues
  frontend/src/utils/formatters.ts
Due: frontend-lint, frontend-typecheck

fix: use UTC for due date parsing in burndown chart
  frontend/src/components/charts/burndownUtils.test.ts
  frontend/src/components/charts/burndownUtils.ts
Due: frontend-lint, frontend-typecheck

fix: filter beta versions from stable changelog
  frontend/src/api/queries/versionQueries.ts
Due: frontend-lint, frontend-typecheck

feat: improve desktop biometrics and auth flow
  blueprints/recurring.py
  desktop/src/main/biometric.ts
  desktop/src/main/index.ts
  desktop/src/main/ipc.ts
  desktop/src/main/store.ts
  desktop/src/preload/index.ts
  frontend/src/api/core/items.ts
  frontend/src/api/demo/demoItems.ts
  frontend/src/api/queries/versionQueries.ts
  frontend/src/components/WhatsNewModal.tsx
  frontend/src/components/charts/burndownUtils.test.ts
  frontend/src/components/charts/burndownUtils.ts
  frontend/src/components/layout/AppHeader.tsx
  frontend/src/components/layout/AppShell.tsx
  frontend/src/components/layout/SidebarNavigation.tsx
  frontend/src/components/passphrase/FallbackAuthForm.tsx
  frontend/src/components/passphrase/PassphrasePrompt.tsx
  frontend/src/components/passphrase/usePassphraseBiometric.ts
  frontend/src/components/settings/AccountSection.tsx
  frontend/src/components/settings/RecurringToolSettings.tsx
  frontend/src/components/settings/desktop/DesktopSection.tsx
  frontend/src/components/settings/desktop/DesktopSecuritySections.tsx
  frontend/src/components/ui/RateLimitBanner.tsx
  frontend/src/context/RateLimitContext.tsx
  frontend/src/hooks/useRecurringSetupWizard.ts
  frontend/src/hooks/useSetupWizard.ts
  frontend/src/index.css
  frontend/src/pages/UnlockPage.tsx
  frontend/src/types/electron.d.ts
  frontend/src/utils/semver.test.ts
  frontend/src/utils/semver.ts
  services/rollup_service.py
  services/sync_service.py
Due: mypy, frontend-lint, frontend-typecheck

style: format Python files with ruff
  services/rollup_service.py
  services/sync_service.py
  tests/conftest.py
Due: mypy

fix: add tzdata dependency for Windows builds
  requirements.txt
Due: none

chore: remove Reddit community links
  frontend/src/components/icons/index.tsx
  frontend/src/components/tabs/DashboardTab.tsx
Due: frontend-lint, frontend-typecheck

fix: disable differential downloads to prevent update corruption
  desktop/src/main/updater.ts
Due: none

fix: make release notes proportional to update significance
  scripts/release-notes-updater/generator.ts
Due: none

fix: trigger full re-download to repair corrupted backends
  desktop/src/main/updater.ts
Due: none

fix: add backend integrity checker to repair corrupted updates
  desktop/src/main/index.ts
  desktop/src/main/integrity.ts
  frontend/src/components/DesktopStartupWrapper.tsx
  frontend/src/components/ui/StartupLoadingScreen.tsx
Due: frontend-lint, frontend-typecheck

fix: import URL from node:url for ESLint compatibility
  desktop/src/main/integrity.ts
Due: none

chore: add Claude Code project configuration and rules
  .claude/rules/data-stores.md
  .claude/rules/demo-mode.md
  .claude/rules/documentation.md
  .claude/rules/testing.md
  .claude/rules/workflows.md
  CLAUDE.md
Due: none

chore: add development scripts and configuration
  .gitignore
  package-lock.json
  package.json
  scripts/dev.sh
Due: none

feat(api): add wishlist backend service and endpoints
  blueprints/__init__.py
  blueprints/wishlist.py
  pyproject.toml
  requirements-vcs.txt
  requirements.in
  requirements.txt
  services/metadata_service.py
  services/wishlist_service.py
Due: mypy

feat(desktop): add wishlist image storage support
  desktop/src/main/wishlist/imageStorage.ts
  desktop/src/main/wishlist/index.ts
Due: none

feat(desktop): integrate wishlist and bookmark IPC handlers
  desktop/package-lock.json
  desktop/package.json
  desktop/src/main/backend.ts
  desktop/src/main/diagnostics.ts
  desktop/src/main/ipc.ts
  desktop/src/main/logger.ts
  desktop/src/main/sentry.ts
  desktop/src/main/window.ts
  desktop/src/preload/index.ts
Due: none
