Repository 312-dev/eclosion-for-monarch: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, frontend-lint, frontend-typecheck

.pre-commit-config.yaml:

# Pre-commit hooks for Eclosion
# Install: pre-commit install
# Run manually: pre-commit run --all-files

default_language_version:
  python: python3.11

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        exclude: ^frontend/
      - id: end-of-file-fixer
        exclude: ^frontend/
      - id: check-yaml
        args: [--unsafe]
      - id: check-json
        exclude: ^frontend/
      - id: check-added-large-files
        args: ["--maxkb=1000"]
      - id: check-merge-conflict
      - id: detect-private-key

  # Ruff - Python linting and formatting (replaces black, isort, flake8)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.4
    hooks:
      # Linter
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        types_or: [python, pyi]
        exclude: ^frontend/
      # Formatter (replaces black)
      - id: ruff-format
        types_or: [python, pyi]
        exclude: ^frontend/

  # Type checking (runs on staged files only for speed)
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        exclude: ^(frontend/|tests/)
        args: [--config-file=pyproject.toml]
        pass_filenames: true
        require_serial: true

      # Frontend linting
      - id: frontend-lint
        name: frontend-lint
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false

      # Frontend type checking
      - id: frontend-typecheck
        name: frontend-typecheck
        entry: bash -c 'cd frontend && npm run type-check'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false

fix: skip discussions with ProductBoard IDs that weren't feasible
  scripts/productboard-sync/sync.ts
Due: none

chore: update productboard sync state and ideas data (#65)
  data/ideas.json
  scripts/productboard-sync/state.json
Due: none

fix: improve IdeasBoard animation with falling cards and demo badge
  frontend/src/components/marketing/IdeasBoard/DevCycleCard.tsx
  frontend/src/components/marketing/IdeasBoard/useIdeasAnimation.ts
  frontend/src/index.css
Due: frontend-lint, frontend-typecheck

feat: enhance landing page with IdeasBoard improvements and UI polish
  .github/workflows/deploy-cloudflare.yml
  frontend/src/components/IdeasModal.tsx
  frontend/src/components/icons/index.tsx
  frontend/src/components/marketing/DocsLayout.tsx
  frontend/src/components/marketing/FrustrationSection.tsx
  frontend/src/components/marketing/Hero.tsx
  frontend/src/components/marketing/IdeasBoard/DevCycleCard.tsx
  frontend/src/components/marketing/IdeasBoard/IdeaBubble.tsx
  frontend/src/components/marketing/IdeasBoard/IdeasBoard.tsx
  frontend/src/components/marketing/IdeasBoard/useIdeasAnimation.ts
  frontend/src/components/marketing/PriceExplainerPopover.tsx
  frontend/src/components/ui/IdeatorAvatar.tsx
  frontend/src/index.css
  frontend/src/pages/LandingPage.tsx
Due: frontend-lint, frontend-typecheck

feat: add interactive feedback buttons to FrustrationSection cards
  frontend/src/components/IdeasModal.tsx
  frontend/src/components/icons/index.tsx
  frontend/src/components/marketing/CustomProblemCard.tsx
  frontend/src/components/marketing/FeatureCard.tsx
  frontend/src/components/marketing/FrustrationCard.tsx
  frontend/src/components/marketing/FrustrationSection.tsx
  frontend/src/components/marketing/Hero.tsx
  frontend/src/components/marketing/IdeasBoard/DevCycleCard.tsx
  frontend/src/components/marketing/IdeasBoard/IdeaBubble.tsx
  frontend/src/components/marketing/IdeasBoard/IdeaTextInput.tsx
  frontend/src/components/marketing/IdeasBoard/useIdeasAnimation.ts
  frontend/src/components/marketing/SocialProofBar.tsx
  frontend/src/components/marketing/TransformationSection.tsx
  frontend/src/components/marketing/WhyEclosionSection.tsx
  frontend/src/components/ui/IdeatorAvatar.tsx
  frontend/src/index.css
  frontend/src/types/ideas.ts
  scripts/productboard-sync/export.ts
  scripts/productboard-sync/sync.ts
  scripts/productboard-sync/types.ts
Due: frontend-lint, frontend-typecheck

feat: add coder mode toggle to landing page
  frontend/src/components/marketing/CoderModeToggle.tsx
  frontend/src/components/marketing/DocsLayout.tsx
  frontend/src/components/marketing/IdeasBoard/IdeaTextInput.tsx
  frontend/src/components/marketing/PriceExplainerPopover.tsx
  frontend/src/components/marketing/SocialProofBar.tsx
  frontend/src/components/marketing/WhyEclosionSection.tsx
  frontend/src/components/marketing/index.ts
  frontend/src/context/CoderModeContext.tsx
  frontend/src/context/index.ts
  frontend/src/data/landingContent.ts
  frontend/src/hooks/index.ts
  frontend/src/hooks/useLandingContent.ts
  frontend/src/pages/LandingPage.tsx
Due: frontend-lint, frontend-typecheck

feat(desktop): update Electron to v38 and improve stability
  .github/workflows/build-desktop.yml
  .github/workflows/ci.yml
  desktop/package-lock.json
  desktop/package.json
  desktop/src/main/backend.ts
  desktop/src/main/index.ts
  desktop/src/main/tray.ts
  desktop/src/main/window.ts
Due: none

fix(security): update aiohttp to 3.13.3 for CVE fixes
  requirements.txt
Due: none

fix(ci): update macOS runner from retired macos-13 to macos-15-large
  .github/workflows/build-desktop.yml
Due: none

fix(desktop): add homepage metadata for Linux deb packages
  desktop/electron-builder.yml
Due: none

fix(desktop): skip HTTPS redirect for desktop app
  api.py
Due: mypy

fix(desktop): use relative paths for Electron frontend assets
  .github/workflows/build-desktop.yml
  frontend/vite.config.ts
Due: frontend-lint, frontend-typecheck

fix(desktop): initialize API base URL before rendering
  frontend/src/main.tsx
Due: frontend-lint, frontend-typecheck

fix(desktop): add CSP hashes for inline scripts and use relative paths
  desktop/src/main/window.ts
  frontend/index.html
Due: none

refactor(desktop): clean up inline scripts and CSP
  desktop/src/main/window.ts
  frontend/index.html
Due: none

refactor: eliminate inline scripts for cleaner CSP
  desktop/src/main/window.ts
  frontend/index.html
  frontend/public/theme-init.js
  frontend/src/main.tsx
Due: frontend-lint, frontend-typecheck

fix(desktop): SSL certificates and icon path for PyInstaller
  desktop/pyinstaller/eclosion.spec
  desktop/pyinstaller/hook-ssl-certs.py
  frontend/src/components/LoginForm.tsx
Due: mypy, frontend-lint, frontend-typecheck

feat: Enhance AppShell and IdeasBoard for desktop and dev cycle support
  .github/workflows/build-desktop.yml
  desktop/src/main/menu.ts
  frontend/src/App.tsx
  frontend/src/components/IdeasModal.tsx
  frontend/src/components/SecurityInfo.tsx
  frontend/src/components/layout/AppShell.tsx
  frontend/src/components/marketing/IdeasBoard/IdeaBubble.tsx
  frontend/src/components/marketing/IdeasBoard/IdeasBoard.tsx
  frontend/src/components/marketing/IdeasBoard/useIdeasAnimation.ts
  frontend/src/components/marketing/MarketingVersionIndicator.tsx
  frontend/src/components/settings/CreditsSection.tsx
  frontend/src/components/tabs/SettingsTab.tsx
  frontend/src/components/ui/BetaBanner.tsx
  frontend/src/components/ui/GetStartedDeploymentSelection.tsx
  frontend/src/components/ui/GetStartedModal.tsx
  frontend/src/components/ui/TermsModal.tsx
  frontend/src/hooks/index.ts
  frontend/src/hooks/useElectronNavigation.ts
  frontend/src/hooks/useIsBetaSite.ts
  frontend/src/hooks/useMacOSElectron.ts
Due: frontend-lint, frontend-typecheck

feat(desktop): add tray settings and background service support
  desktop/src/main/ipc.ts
  desktop/src/main/tray.ts
  desktop/src/main/window.ts
  desktop/src/preload/index.ts
  frontend/src/components/settings/DesktopSection.tsx
  frontend/src/components/settings/index.ts
  frontend/src/components/tabs/SettingsTab.tsx
  frontend/src/types/electron.d.ts
Due: frontend-lint, frontend-typecheck

fix: resolve desktop type errors and backend mypy errors
  api.py
  desktop/src/main/cleanup.ts
Due: mypy

fix: resolve remaining CI failures
  desktop/src/test/setup.ts
  frontend/src/hooks/useItemDisplayStatus.test.ts
Due: frontend-lint, frontend-typecheck

fix: update test expectations and ignore future links in mlc
  .github/mlc_config.json
  frontend/src/hooks/useItemDisplayStatus.test.ts
Due: frontend-lint, frontend-typecheck

fix: expand mlc ignore patterns for additional links
  .github/mlc_config.json
Due: none

fix(security): update react-router to address CVE vulnerabilities
  frontend/package-lock.json
Due: none

fix(ci): improve desktop build reliability and workflow efficiency
  .github/workflows/build-desktop.yml
  .github/workflows/create-beta.yml
  .github/workflows/deploy-cloudflare.yml
Due: none

feat(ci): enforce strict sequential release flow
  .github/workflows/create-beta.yml
  .github/workflows/deploy-cloudflare.yml
Due: none

fix(ci): parallel builds with strict gating before deploy/release
  .github/workflows/create-beta.yml
Due: none

test: add cloudflare to debug
  .github/workflows/create-beta.yml
Due: none

fix(ci): fix concurrency group expression for workflow_call
  .github/workflows/deploy-cloudflare.yml
Due: none

test: remove environment to debug
  .github/workflows/deploy-cloudflare.yml
Due: none

test: remove secrets from workflow_call
  .github/workflows/deploy-cloudflare.yml
Due: none

refactor(ci): unify release pipeline with strict stage gating
  .github/workflows/create-beta.yml
  .github/workflows/deploy-cloudflare.yml
  .github/workflows/docker-publish.yml
  .github/workflows/release-pipeline.yml
  .github/workflows/release.yml
Due: none

fix(ci): lowercase Docker image tags for GHCR compatibility
  .github/workflows/release-pipeline.yml
Due: none

feat(desktop): add runtime secret for API authentication
  api.py
  core/config.py
  desktop/src/main/backend.ts
  frontend/src/api/core/fetchApi.ts
  frontend/src/utils/apiBase.ts
Due: mypy, frontend-lint, frontend-typecheck

refactor(desktop): use Electron's built-in auto-start API
  desktop/package.json
  desktop/src/main/autostart.ts
  desktop/src/main/ipc.test.ts
Due: none

feat(desktop): improve tray icons and menu behavior
  desktop/assets/tray/iconTemplate.png
  desktop/assets/tray/iconTemplate@2x.png
  desktop/assets/tray/tray-source.svg
  desktop/assets/tray/tray.ico
  desktop/assets/tray/tray.png
  desktop/electron-builder.yml
  desktop/scripts/generate-icons.js
  desktop/src/main/tray.ts
Due: none
