Repository 312-dev/eclosion-for-monarch: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, frontend-lint, frontend-typecheck

mypy:
  name: mypy
  entry: mypy
  language: system
  args:
  - --config-file=pyproject.toml
  pass_filenames: true
  require_serial: true

frontend-lint:
  name: frontend-lint
  entry: npx eslint --max-warnings=0 -c frontend/eslint.config.js
  language: system
  pass_filenames: true

frontend-typecheck:
  name: frontend-typecheck
  entry: bash -c 'cd frontend && npm run type-check'
  language: system
  pass_filenames: false

refactor: update frontend components and API handlers
  api.py
  frontend/src/App.tsx
  frontend/src/api/core/misc.ts
  frontend/src/api/core/version.ts
  frontend/src/api/demo/demoMisc.ts
  frontend/src/api/demo/demoVersion.ts
  frontend/src/api/queries/uninstallMutations.ts
  frontend/src/components/ChangelogDisplay.tsx
  frontend/src/components/LoginForm.tsx
  frontend/src/components/ResetAppModal.tsx
  frontend/src/components/SecurityInfo.tsx
  frontend/src/components/ui/GetStartedDeploymentContent.tsx
  frontend/src/components/ui/GetStartedDeploymentSelection.tsx
  frontend/src/components/ui/GetStartedModal.tsx
  frontend/src/components/ui/GetStartedTermsContent.tsx
  frontend/src/components/ui/TermsModal.tsx
  frontend/src/components/uninstall/UninstallFormContent.tsx
  frontend/src/components/uninstall/UninstallModal.tsx
  frontend/src/components/uninstall/UninstallSuccessContent.tsx
  frontend/src/components/update/UpdateModal.tsx
  frontend/src/context/DemoContext.tsx
  frontend/src/hooks/useIsMarketingSite.ts
  frontend/src/main.tsx
  frontend/src/pages/LandingPage.tsx
  frontend/src/pages/docs/HelpDocsContent.tsx
  frontend/src/pages/docs/MarketingDocsContent.tsx
  frontend/src/types/version.ts
Due: mypy, frontend-lint, frontend-typecheck

fix: address CI failures
  frontend/src/context/DemoAuthContext.tsx
  tests/integration/dry_run.py
Due: frontend-lint, frontend-typecheck

fix: address mypy type errors in conftest.py
  tests/integration/conftest.py
Due: none

feat: add integration tests for update_transaction and gql_call
  tests/integration/test_api_coverage.py
Due: none

fix: add missing monarch_client patterns to coverage checker
  scripts/check-monarch-api-coverage.py
Due: mypy

fix: check for unresolved Copilot comments instead of total count
  .github/workflows/copilot-review.yml
Due: none

fix: require Copilot review only once, then check unresolved comments
  .github/workflows/copilot-review.yml
Due: none

chore: remove Copilot review status check workflow
  .github/workflows/copilot-review.yml
Due: none

fix: remove redundant sanitize_response calls in api.py
  api.py
  renovate.json
Due: mypy

chore: remove platformAutomerge to use Renovate bypass
  renovate.json
Due: none

fix(ci): Remove scripts/docs-gen from paths-ignore
  .github/workflows/ci.yml
Due: none

fix: Update monarchmoney to gql 4.0.0 compatible version
  requirements-vcs.txt
Due: none

fix: Move API response helpers to importable module
  tests/integration/conftest.py
  tests/integration/helpers.py
  tests/integration/test_category_lifecycle.py
Due: none

fix: Use correct method name and parameters for CategoryManager
  tests/integration/test_services.py
Due: none

feat: require CI to pass before releases
  .github/workflows/create-beta.yml
  .github/workflows/create-stable.yml
Due: none

fix: update ruff version and apply formatting
  .pre-commit-config.yaml
  tests/integration/test_api_coverage.py
  tests/integration/test_sync_readonly.py
Due: none

feat: require CI to pass before releases (#181)
  .github/workflows/create-beta.yml
  .github/workflows/create-stable.yml
  .pre-commit-config.yaml
  tests/integration/helpers.py
  tests/integration/test_api_coverage.py
  tests/integration/test_sync_readonly.py
Due: none

fix: deploy to Cloudflare only after all publishing succeeds
  .github/workflows/release-pipeline.yml
Due: none

test: update notesTransform test to expect preserved order
  frontend/src/utils/notesTransform.test.ts
Due: frontend-lint, frontend-typecheck

feat: add encrypted auto-backup system for desktop app
  desktop/.gitignore
  desktop/src/main/auto-backup.ts
  frontend/src/components/settings/AutoBackupSection.tsx
  frontend/src/components/settings/BackupRestoreModal.tsx
  frontend/src/components/settings/BackupsList.tsx
  frontend/src/components/settings/backupUtils.ts
  services/encrypted_export_service.py
Due: mypy, frontend-lint, frontend-typecheck

feat: improve notes editor with explicit save and single-editor mode
  frontend/src/api/queries/notesQueries.ts
  frontend/src/components/notes/ArchivedNotesSection.tsx
  frontend/src/components/notes/CategoryGroupRow.tsx
  frontend/src/components/notes/CategoryRow.tsx
  frontend/src/components/notes/CategoryTree.tsx
  frontend/src/components/notes/ExportGroupRow.tsx
  frontend/src/components/notes/GeneralMonthNotes.tsx
  frontend/src/components/notes/NoteEditorMDX.tsx
  frontend/src/components/notes/NoteEditorModal.tsx
  frontend/src/components/notes/ReaderView.tsx
  frontend/src/components/notes/RevisionHistoryModal.tsx
  frontend/src/components/tabs/NotesTab.tsx
  frontend/src/context/NotesEditorContext.tsx
Due: frontend-lint, frontend-typecheck

refactor: UI/UX improvements across components
  frontend/src/App.tsx
  frontend/src/components/EmojiPicker.tsx
  frontend/src/components/LinkCategoryModal.tsx
  frontend/src/components/SyncButton.tsx
  frontend/src/components/charts/burndownUtils.ts
  frontend/src/components/icons/index.tsx
  frontend/src/components/layout/AppShell.tsx
  frontend/src/components/layout/ProtectedRoute.tsx
  frontend/src/components/ready-to-assign/ReadyToAssign.tsx
  frontend/src/components/recurring/ActionsDropdown.tsx
  frontend/src/components/recurring/CategoryGroupDropdown.tsx
  frontend/src/components/recurring/RecurringCard.tsx
  frontend/src/components/recurring/RecurringItemBudget.tsx
  frontend/src/components/recurring/RecurringItemHeader.tsx
  frontend/src/components/recurring/RecurringRow.tsx
  frontend/src/components/rollup/RollupItemRow.tsx
  frontend/src/components/rollup/RollupStats.tsx
  frontend/src/components/settings/DesktopSection.tsx
  frontend/src/components/settings/HiddenCategoriesModal.tsx
  frontend/src/components/settings/RecurringResetModal.tsx
  frontend/src/components/tabs/RecurringTab.tsx
  frontend/src/components/ui/LoadingSpinner.tsx
  frontend/src/components/uninstall/UninstallModalFooter.tsx
  frontend/src/components/wizards/steps/ItemCard.tsx
  frontend/src/index.css
Due: frontend-lint, frontend-typecheck

feat: backend service improvements and encrypted export endpoints
  api.py
  monarch_utils.py
  services/rollup_service.py
  services/savings_calculator.py
  services/settings_export_service.py
  services/sync_service.py
  state/db/repositories/tracker_repo.py
  state/state_manager.py
  tests/test_state_manager.py
Due: mypy

feat: utility and hook improvements
  frontend/package-lock.json
  frontend/package.json
  frontend/public/_redirects
  frontend/src/api/queries/dashboardQueries.ts
  frontend/src/hooks/useRecurringItemActions.ts
  frontend/src/hooks/wizard/useRollupConfig.ts
  frontend/src/pages/download/DownloadPage.tsx
  frontend/src/pages/download/DownloadSections.tsx
  frontend/src/utils/formatters.test.ts
  frontend/src/utils/formatters.ts
  frontend/src/utils/githubRelease.ts
  frontend/src/utils/index.ts
  frontend/src/utils/releaseNotesParser.ts
Due: frontend-lint, frontend-typecheck

fix: add VCS dependencies to Desktop Build CI workflow
  .github/workflows/ci.yml
Due: none

fix: add colorama dependency for Windows builds
  requirements.txt
Due: none

fix: add tzdata dependency for Windows builds
  requirements.txt
Due: none

build: add hash-pinned build dependencies
  .github/workflows/build-desktop.yml
  .github/workflows/ci.yml
  requirements-build.in
  requirements-build.txt
Due: none

feat: add download verification link and fix beta asset detection
  frontend/src/pages/download/DownloadPage.tsx
  frontend/src/pages/download/DownloadSections.tsx
  frontend/src/utils/githubRelease.ts
Due: frontend-lint, frontend-typecheck

fix: increase notice banner top spacing
  frontend/src/components/layout/AppShell.tsx
Due: frontend-lint, frontend-typecheck

fix: add all pyinstaller transitive dependencies with hashes
  requirements-build.txt
Due: none

refactor: extract api.py endpoints into Flask blueprints
  api.py
  blueprints/__init__.py
  blueprints/admin.py
  blueprints/auth.py
  blueprints/notes.py
  blueprints/recurring.py
  blueprints/security.py
  blueprints/settings.py
  core/__init__.py
  core/audit.py
  core/middleware.py
  core/rate_limit.py
  core/session.py
Due: mypy

refactor: extract api.py endpoints into Flask blueprints (#185)
  CONTRIBUTING.md
  api.py
  blueprints/__init__.py
  blueprints/admin.py
  blueprints/auth.py
  blueprints/notes.py
  blueprints/recurring.py
  blueprints/security.py
  blueprints/settings.py
  core/__init__.py
  core/audit.py
  core/middleware.py
  core/rate_limit.py
  core/session.py
Due: mypy

style: apply ruff formatting to blueprint files
  blueprints/admin.py
  blueprints/auth.py
  blueprints/security.py
Due: mypy

fix: address CodeQL security findings with explicit sanitization
  .github/workflows/01-ci.yml
  .github/workflows/02-check-branch.yml
  .github/workflows/03-check-version.yml
  .github/workflows/04-build-docker.yml
  .github/workflows/10-security.yml
  .github/workflows/11-scorecard.yml
  .github/workflows/20-release-beta.yml
  .github/workflows/21-release-stable.yml
  .github/workflows/22-release-pipeline.yml
  .github/workflows/23-build-desktop.yml
  .github/workflows/24-deploy-cloudflare.yml
  .github/workflows/30-test-integration.yml
  .github/workflows/40-gen-contributors.yml
  .github/workflows/41-gen-docs.yml
  .github/workflows/42-sync-wiki.yml
  .github/workflows/43-sync-productboard.yml
  blueprints/security.py
  blueprints/settings.py
  core/middleware.py
Due: mypy

refactor: simplify state management and remove migrations
  state/__init__.py
  state/migrations/__init__.py
  state/migrations/backup.py
  state/migrations/base.py
  state/migrations/compatibility.py
  state/migrations/executor.py
  state/migrations/migrations/__init__.py
  state/migrations/registry.py
  state/state_cache.py
  state/state_manager.py
  state/state_manager_v2.py
Due: mypy

test: update tests for refactored state management
  tests/conftest.py
  tests/test_settings_export_service.py
  tests/test_state_manager.py
  tests/test_transaction_categorizer.py
Due: none

refactor: clean up unused frontend code
  frontend/src/components/marketing/IdeasBoard/ideasAnimationUtils.ts
  frontend/src/components/marketing/IdeasBoard/useIdeasAnimation.ts
  frontend/src/components/notes/ArchivedNotesSection.tsx
  frontend/src/components/notes/GeneralMonthNotes.tsx
  frontend/src/components/notes/NoteEditorModal.tsx
  frontend/src/components/recurring/RecurringItemHeader.tsx
  frontend/src/components/recurring/RecurringListIcons.tsx
  frontend/src/components/recurring/index.ts
  frontend/src/components/tabs/RecurringTab.tsx
  frontend/src/hooks/useRecurringItemActions.ts
  frontend/src/utils/errors.ts
  frontend/src/utils/index.ts
Due: frontend-lint, frontend-typecheck

Path conditions:
  mypy: any of: \.py$, but not: ^(frontend/|tests/)
  frontend-lint: any of: ^frontend/src/.*\.(ts|tsx)$
  frontend-typecheck: any of: ^frontend/.*\.(ts|tsx)$
