Repository 312-dev/eclosion-for-monarch: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, frontend-lint, frontend-typecheck

.pre-commit-config.yaml:

# Pre-commit hooks for Eclosion
# Install: pre-commit install
# Run manually: pre-commit run --all-files

default_language_version:
  python: python3.11

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        exclude: ^frontend/
      - id: end-of-file-fixer
        exclude: ^frontend/
      - id: check-yaml
        args: [--unsafe]
      - id: check-json
        exclude: ^frontend/
      - id: check-added-large-files
        args: ["--maxkb=1000"]
      - id: check-merge-conflict
      - id: detect-private-key

  # Ruff - Python linting and formatting (replaces black, isort, flake8)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.4
    hooks:
      # Linter
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        types_or: [python, pyi]
        exclude: ^frontend/
      # Formatter (replaces black)
      - id: ruff-format
        types_or: [python, pyi]
        exclude: ^frontend/

  # Type checking (runs on staged files only for speed)
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        exclude: ^(frontend/|tests/)
        args: [--config-file=pyproject.toml]
        pass_filenames: true
        require_serial: true

      # Frontend linting
      - id: frontend-lint
        name: frontend-lint
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false

      # Frontend type checking
      - id: frontend-typecheck
        name: frontend-typecheck
        entry: bash -c 'cd frontend && npm run type-check'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false

fix: Override default entrypoint to use virtual environment Python
  Dockerfile
Due: none

chore: Update CI workflow configuration for improved efficiency
  .github/workflows/ci.yml
Due: none

Update Buy Me a Coffee username in FUNDING.yml
  .github/FUNDING.yml
Due: none

feat: Enhance security measures in workflows and API; add documentation for backup management
  .github/workflows/security.yml
  .github/workflows/sync-wiki.yml
  README.md
  api.py
  core/decorators.py
  core/exceptions.py
  core/sanitization.py
  docs/Home.md
  frontend/src/data/features.ts
  state/migrations/backup.py
Due: mypy, frontend-lint, frontend-typecheck

fix: Update test case for SavingsCalculator to reflect current_balance change
  tests/test_savings_calculator.py
Due: none

fix: Remove INSTANCE_SECRET environment variable from DAST container setup
  .github/workflows/security.yml
Due: none

feat: Add security headers for Permissions Policy and Cross-Origin-Opener-Policy in API response
  .zap/rules.tsv
  api.py
Due: mypy

feat: Enhance security in ZAP rules and add DAST testing script
  .zap/rules.tsv
  api.py
  scripts/test-dast.sh
  state/migrations/backup.py
Due: mypy

fix: Add workflow paths to security scan triggers (#25)
  .github/workflows/security.yml
Due: none

fix: Expand security workflow path filters
  .github/workflows/security.yml
Due: none

Update Buy Me a Coffee username in FUNDING.yml (#23)
  .github/FUNDING.yml
Due: none

fix: Expand security workflow path filters (#26)
  .github/workflows/security.yml
Due: none

feat: Enhance security and logging in various components, update DAST testing script, and add ZAP configuration
  .github/workflows/release.yml
  Dockerfile
  api.py
  frontend/src/api/demoClient.ts
  frontend/src/components/RollupZone.tsx
  frontend/src/components/recurring/RecurringRow.tsx
  frontend/src/utils/status.ts
  scripts/test-dast.sh
  state/migrations/backup.py
  zap.yaml
Due: mypy, frontend-lint, frontend-typecheck

feat: initialize Docusaurus documentation site with custom configurations and styles
  .github/workflows/deploy-demo.yml
  .github/workflows/docker-publish.yml
  .github/workflows/release.yml
  .github/workflows/sync-wiki.yml
  .gitignore
  README.md
  docker-compose.yml
  docs/Home.md
  docs/SELF_HOSTING.md
  docusaurus/docs/changelog.md
  docusaurus/docs/contributing.md
  docusaurus/docs/intro.md
  docusaurus/docs/security.md
  docusaurus/docs/self-hosting/data-management.md
  docusaurus/docs/self-hosting/docker.md
  docusaurus/docs/self-hosting/environment-variables.md
  docusaurus/docs/self-hosting/monitoring.md
  docusaurus/docs/self-hosting/overview.md
  docusaurus/docs/self-hosting/platforms/aws.md
  docusaurus/docs/self-hosting/platforms/digitalocean.md
  docusaurus/docs/self-hosting/platforms/gcp.md
  docusaurus/docs/self-hosting/platforms/kubernetes.md
  docusaurus/docs/self-hosting/platforms/portainer.md
  docusaurus/docs/self-hosting/platforms/raspberry-pi.md
  docusaurus/docs/self-hosting/platforms/synology.md
  docusaurus/docs/self-hosting/platforms/unraid.md
  docusaurus/docs/self-hosting/reverse-proxy.md
  docusaurus/docs/self-hosting/security-hardening.md
  docusaurus/docs/self-hosting/troubleshooting.md
  docusaurus/docusaurus.config.ts
  docusaurus/package-lock.json
  docusaurus/package.json
  docusaurus/sidebars.ts
  docusaurus/src/css/custom.css
  docusaurus/tsconfig.json
  frontend/src/App.tsx
  frontend/src/components/marketing/DocsLayout.tsx
Due: frontend-lint, frontend-typecheck

feat: enhance audit logging by sanitizing user inputs and using fixed event names to prevent log injection
  .github/workflows/release.yml
  api.py
Due: mypy

feat: improve audit logging by sanitizing client IP and details using repr() to prevent log injection
  api.py
Due: mypy

feat: update changelog summarization prompt for clarity and user-friendliness; enhance redirect path validation and sanitize warnings to improve security
  .github/workflows/release.yml
  api.py
Due: mypy

fix: add social card image for README
  .gitignore
  docusaurus/static/img/social-card.png
Due: none

Add social card SVG and update Developers link to external documentation
  .github/workflows/release.yml
  api.py
  docusaurus/static/img/favicon.ico
  docusaurus/static/img/logo.svg
  docusaurus/static/img/social-card.svg
  frontend/src/components/marketing/DocsLayout.tsx
Due: mypy, frontend-lint, frontend-typecheck

chore: add .DS_Store file to docusaurus/static directory
  docusaurus/static/.DS_Store
Due: none

chore: reorganize .gitignore to group OS artifacts
  .gitignore
Due: none

chore: update permissions in release workflow to allow actions write access
  .github/workflows/release.yml
Due: none

style: standardize quotes in docker-publish.yml
  .github/workflows/docker-publish.yml
Due: none

chore: remove .DS_Store from version control
  docusaurus/static/.DS_Store
Due: none
