Repository 312-dev/eclosion-for-monarch: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, frontend-lint, frontend-typecheck

mypy:
  name: mypy
  entry: mypy
  language: system
  args:
  - --config-file=pyproject.toml
  pass_filenames: true
  require_serial: true

frontend-lint:
  name: frontend-lint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

frontend-typecheck:
  name: frontend-typecheck
  entry: bash -c 'cd frontend && npm run type-check'
  language: system
  pass_filenames: false

feat: implement changelog integration and deploy demo workflow on release
  .github/copilot-instructions.md
  .github/workflows/deploy-demo.yml
  .github/workflows/release.yml
  frontend/src/api/client.ts
  frontend/src/api/demoClient.ts
  frontend/src/api/queries.ts
  frontend/src/data/changelog.ts
  frontend/src/vite-env.d.ts
  frontend/vite.config.ts
Due: frontend-lint, frontend-typecheck

feat: migrate from GitHub Pages to Cloudflare Pages
  .github/workflows/deploy-cloudflare.yml
  .github/workflows/deploy-demo.yml
  .github/workflows/release.yml
  CLAUDE.md
  CNAME
  api.py
  frontend/public/404.html
  frontend/public/CNAME
  frontend/public/_redirects
  frontend/src/api/client.ts
  frontend/src/api/demoClient.ts
  frontend/src/api/queries.ts
  frontend/src/api/settingsExport.test.ts
  frontend/src/components/ImportSettingsModal.tsx
  frontend/src/components/tabs/SettingsTab.tsx
  frontend/src/hooks/useIsMarketingSite.ts
  frontend/src/test/setup.ts
  frontend/src/types/index.ts
  frontend/src/types/settings-export.ts
  frontend/vite.config.ts
  services/settings_export_service.py
  state/state_manager.py
  tests/test_settings_export_service.py
Due: mypy, frontend-lint, frontend-typecheck

fix: improve beta versioning and add deployment cleanup
  .github/workflows/deploy-cloudflare.yml
Due: none

feat: add beta warning banner for pre-release site
  frontend/src/App.tsx
  frontend/src/components/ui/BetaBanner.tsx
Due: frontend-lint, frontend-typecheck

fix: use bracket notation for index signature properties
  frontend/src/api/demoClient.ts
Due: frontend-lint, frontend-typecheck

feat: enhance changelog summary generation and update navigation links in DocsLayout
  CHANGELOG.md
  frontend/src/components/ChangelogDisplay.tsx
  frontend/src/components/marketing/DocsLayout.tsx
  frontend/src/components/ui/Modal.tsx
Due: frontend-lint, frontend-typecheck

fix: update query options to use undefined for optional parameters and refactor toast import in SecurityPanel
  frontend/src/api/queries.ts
  frontend/src/components/SecurityPanel.tsx
Due: frontend-lint, frontend-typecheck

fix: refactor SecurityEventsQueryOptions to use undefined for optional parameters and update useSecurityEventsQuery function
  frontend/src/api/queries.ts
  frontend/src/types/security.ts
Due: frontend-lint, frontend-typecheck

fix: update documentation links to use the correct path for self-hosting resources
  docusaurus/docs/contributing.md
  docusaurus/docs/intro.md
  docusaurus/docs/security.md
  docusaurus/docs/self-hosting/docker.md
  docusaurus/docs/self-hosting/overview.md
  docusaurus/docs/self-hosting/platforms/aws.md
  docusaurus/docs/self-hosting/platforms/digitalocean.md
  docusaurus/docs/self-hosting/platforms/gcp.md
  docusaurus/docs/self-hosting/security-hardening.md
  docusaurus/docs/self-hosting/troubleshooting.md
  docusaurus/docusaurus.config.ts
  docusaurus/guide/intro.mdx
Due: none

feat: add routing for documentation and user guide pages in AppRouter and update navigation links in DocsLayout
  frontend/src/App.tsx
  frontend/src/components/marketing/DocsLayout.tsx
Due: frontend-lint, frontend-typecheck

refactor: consolidate docs - user guides in Docusaurus, technical docs in GitHub Wiki
  .github/workflows/generate-docs.yml
  .github/workflows/sync-wiki.yml
  docusaurus/docs/category-linking.mdx
  docusaurus/docs/intro.mdx
  docusaurus/docs/recurring-expenses.mdx
  docusaurus/docs/rollup-category.mdx
  docusaurus/docs/setup-wizard.mdx
  docusaurus/docusaurus.config.ts
  docusaurus/sidebars.ts
  docusaurus/sidebarsGuide.ts
  docusaurus/wiki/changelog.md
  docusaurus/wiki/contributing.md
  docusaurus/wiki/intro.md
  docusaurus/wiki/security.md
  docusaurus/wiki/self-hosting/data-management.md
  docusaurus/wiki/self-hosting/docker.md
  docusaurus/wiki/self-hosting/environment-variables.md
  docusaurus/wiki/self-hosting/monitoring.md
  docusaurus/wiki/self-hosting/overview.md
  docusaurus/wiki/self-hosting/platforms/aws.md
  docusaurus/wiki/self-hosting/platforms/digitalocean.md
  docusaurus/wiki/self-hosting/platforms/gcp.md
  docusaurus/wiki/self-hosting/platforms/kubernetes.md
  docusaurus/wiki/self-hosting/platforms/portainer.md
  docusaurus/wiki/self-hosting/platforms/raspberry-pi.md
  docusaurus/wiki/self-hosting/platforms/synology.md
  docusaurus/wiki/self-hosting/platforms/unraid.md
  docusaurus/wiki/self-hosting/reverse-proxy.md
  docusaurus/wiki/self-hosting/security-hardening.md
  docusaurus/wiki/self-hosting/troubleshooting.md
  frontend/src/App.tsx
  frontend/src/components/marketing/DocsLayout.tsx
  frontend/src/docs/guide/getting-started.mdx
  frontend/src/docs/technical/troubleshooting.mdx
  frontend/src/pages/GuidePage.tsx
  frontend/src/pages/TechnicalDocsPage.tsx
  scripts/docs-gen/mdx-builder.ts
  scripts/docs-gen/types.ts
Due: frontend-lint, frontend-typecheck

fix: update in-app help links to external versioned docs
  frontend/src/components/layout/AppShell.tsx
Due: frontend-lint, frontend-typecheck

feat: restructure documentation for recurring expenses and enhance auto-generation process
  CLAUDE.md
  docusaurus/docs/recurring/_category_.json
  docusaurus/docs/recurring/category-linking.mdx
  docusaurus/docs/recurring/overview.mdx
  docusaurus/docs/recurring/rollup-category.mdx
  docusaurus/docs/recurring/setup-wizard.mdx
  docusaurus/docusaurus.config.ts
  docusaurus/sidebars.ts
  docusaurus/src/components/DemoEmbed.tsx
  scripts/docs-gen/generator.ts
  scripts/docs-gen/types.ts
Due: none

fix: update navigation links to use href for full page navigation
  docusaurus/docusaurus.config.ts
Due: none

feat: enhance documentation with interactive components and versioning guidelines
  CLAUDE.md
  docusaurus/docusaurus.config.ts
  docusaurus/src/components/AnnotatedImage.tsx
  docusaurus/src/components/FeatureCard.tsx
  docusaurus/src/components/WorkflowSteps.tsx
  docusaurus/versioned_docs/version-1.0/intro.mdx
  docusaurus/versioned_docs/version-1.0/recurring/_category_.json
  docusaurus/versioned_docs/version-1.0/recurring/category-linking.mdx
  docusaurus/versioned_docs/version-1.0/recurring/overview.mdx
  docusaurus/versioned_docs/version-1.0/recurring/rollup-category.mdx
  docusaurus/versioned_docs/version-1.0/recurring/setup-wizard.mdx
  docusaurus/versioned_sidebars/version-1.0-sidebars.json
  docusaurus/versions.json
  scripts/docs-gen/generator.ts
Due: none

fix: remove redundant unreleased banner on beta docs
  docusaurus/docusaurus.config.ts
Due: none

feat: add Monarch Money non-affiliation disclaimer to footers
  docusaurus/docusaurus.config.ts
  frontend/src/components/marketing/DocsLayout.tsx
Due: frontend-lint, frontend-typecheck

refactor: streamline Docusaurus navigation and fix title
  docusaurus/docusaurus.config.ts
  scripts/docs-gen/generator.ts
  scripts/docs-gen/index.ts
Due: none

feat: enhance documentation generation and versioning process
  .github/workflows/deploy-cloudflare.yml
  .github/workflows/generate-docs.yml
  CLAUDE.md
  docusaurus/docs/recurring/overview.mdx
  docusaurus/docusaurus.config.ts
  docusaurus/package-lock.json
  docusaurus/package.json
  docusaurus/src/components/FeatureCard.tsx
  docusaurus/versioned_docs/version-1.0/recurring/overview.mdx
  scripts/docs-gen/generator.ts
  scripts/docs-gen/index.ts
  scripts/docs-gen/manifest.ts
  scripts/docs-gen/types.ts
  scripts/productboard-sync/package.json
  scripts/productboard-sync/scraper.ts
  scripts/productboard-sync/types.ts
Due: none

feat: update CI workflows to support develop branch and enhance security checks
  .github/workflows/ci.yml
  .github/workflows/deploy-cloudflare.yml
  .github/workflows/require-develop.yml
  .github/workflows/security.yml
  CONTRIBUTING.md
Due: none

feat: enforce branch naming conventions for PRs
  .github/workflows/branch-naming.yml
  .github/workflows/deploy-cloudflare.yml
  CONTRIBUTING.md
Due: none

Path conditions:
  mypy: any of: \.py$, but not: ^(frontend/|tests/)
  frontend-lint: any of: ^frontend/.*\.(ts|tsx)$
  frontend-typecheck: any of: ^frontend/.*\.(ts|tsx)$
