Repository 312-dev/eclosion-for-monarch: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, frontend-lint, frontend-typecheck

mypy:
  name: mypy
  entry: mypy
  language: system
  args:
  - --config-file=pyproject.toml
  pass_filenames: true
  require_serial: true

frontend-lint:
  name: frontend-lint
  entry: npx eslint --max-warnings=0 -c frontend/eslint.config.js
  language: system
  pass_filenames: true

frontend-typecheck:
  name: frontend-typecheck
  entry: bash -c 'cd frontend && npm run type-check'
  language: system
  pass_filenames: false

fix: update notes blueprint for SQLite-based state manager
  api.py
  blueprints/__init__.py
  blueprints/admin.py
  blueprints/auth.py
  blueprints/notes.py
  core/config.py
  core/scheduler.py
  services/credentials_service.py
  services/rollup_service.py
  services/settings_export_service.py
  services/sync_service.py
  services/transaction_categorizer.py
  state/db/repositories/notes_repo.py
  state/state_manager.py
Due: mypy

fix: address CodeQL security alerts
  blueprints/admin.py
  blueprints/security.py
Due: mypy

fix: improve path traversal prevention with inline sanitization
  blueprints/admin.py
Due: mypy

fix: use regex whitelist for backup filename validation
  blueprints/admin.py
Due: mypy

fix: add CodeQL suppression comments for validated path operations
  blueprints/admin.py
Due: mypy

fix: add pefile dependency for Windows PyInstaller builds
  requirements-build.txt
Due: none

fix: install pyinstaller directly on Windows without hash verification
  .github/workflows/23-build-desktop.yml
Due: none

feat: add normalized data stores for category and config data
  frontend/src/api/queries/categoryGroupStoreQueries.ts
  frontend/src/api/queries/categoryStoreQueries.ts
  frontend/src/api/queries/configStoreQueries.ts
  frontend/src/api/queries/dashboardQueries.ts
  frontend/src/api/queries/index.ts
  frontend/src/api/queries/keys.ts
  frontend/src/api/queries/notesQueries.ts
  frontend/src/types/categoryGroupStore.ts
  frontend/src/types/categoryStore.ts
Due: frontend-lint, frontend-typecheck

fix: improve emoji pattern matching for compound emoji
  core/sanitization.py
  services/category_operations.py
  services/sync_service.py
Due: mypy

refactor: migrate components to use normalized data stores
  frontend/src/api/queries/categoryMutations.ts
  frontend/src/components/LinkCategoryModal.tsx
  frontend/src/components/notes/CategoryGroupRow.tsx
  frontend/src/components/notes/CategoryRow.tsx
  frontend/src/components/notes/GeneralMonthNotes.tsx
  frontend/src/components/notes/MarkdownRenderer.tsx
  frontend/src/components/notes/NoteDisplay.tsx
  frontend/src/components/settings/HiddenCategoriesModal.tsx
  frontend/src/components/settings/RecurringToolSettings.tsx
  frontend/src/components/tabs/NotesTab.tsx
  frontend/src/components/wizards/steps/RollupConfigStep.tsx
  frontend/src/hooks/useRecurringItemActions.ts
  frontend/src/hooks/wizard/useCategoryGroups.ts
Due: frontend-lint, frontend-typecheck

docs: add normalized data stores documentation to CLAUDE.md
  .github/workflows/02-check-branch.yml
  CLAUDE.md
Due: none

docs: add docusaurus documentation and client modules
  docs/plans/normalized-category-cache.md
  docusaurus/docusaurus.config.ts
  docusaurus/src/clientModules/forcePageReload.ts
Due: none

chore: misc frontend updates
  frontend/public/_redirects
  frontend/src/api/demo/demoItems.ts
  frontend/src/api/demoData.ts
  frontend/src/components/SearchableSelect.tsx
  frontend/src/pages/FeatureDetailPage.tsx
  frontend/src/types/category.ts
Due: frontend-lint, frontend-typecheck

fix: Standardize demo links with trailing slashes for Cloudflare Pages
  .github/workflows/22-release-pipeline.yml
  frontend/public/_redirects
  frontend/src/components/marketing/DocsLayout.tsx
  frontend/src/components/marketing/Hero.tsx
  frontend/src/data/features.ts
  frontend/src/pages/LandingPage.tsx
  frontend/src/pages/docs/MarketingDocsContent.tsx
  frontend/src/pages/download/DownloadSections.tsx
Due: frontend-lint, frontend-typecheck

feat: AI-powered release notes summarizer
  .github/workflows/44-update-release-notes.yml
  scripts/release-notes-updater/generator.ts
  scripts/release-notes-updater/index.ts
  scripts/release-notes-updater/package-lock.json
  scripts/release-notes-updater/package.json
  scripts/release-notes-updater/tsconfig.json
Due: none

fix: Use release app token for docs versioning push
  .github/workflows/21-release-stable.yml
  .github/workflows/22-release-pipeline.yml
Due: none

fix: Prevent ProductBoard ideas from appearing as GitHub-only ideas
  scripts/productboard-sync/sync.ts
Due: none

fix: Desktop health check endpoint name after blueprint refactor
  .github/workflows/21-release-stable.yml
  core/middleware.py
  frontend/src/components/ui/StartupLoadingScreen.tsx
Due: mypy, frontend-lint, frontend-typecheck

fix: Desktop mode session cookies and sync improvements
  api.py
  services/sync_service.py
Due: mypy

fix: Improve emoji regex for keycaps, flags, and skin tones
  frontend/src/utils/formatters.test.ts
  frontend/src/utils/formatters.ts
Due: frontend-lint, frontend-typecheck

chore: UI polish and documentation updates
  CLAUDE.md
  frontend/src/components/SyncButton.tsx
  frontend/src/components/notes/ArchivedNotesSection.tsx
  frontend/src/components/recurring/RecurringCard.tsx
  frontend/src/components/recurring/RecurringItemHeader.tsx
  frontend/src/components/recurring/RecurringRow.tsx
  frontend/src/components/settings/AutoBackupSection.tsx
  frontend/src/components/ui/RateLimitBanner.tsx
  frontend/src/components/ui/RateLimitTooltip.tsx
  frontend/src/components/wizards/steps/ItemSelectionStep.tsx
  frontend/src/index.css
  frontend/vite.config.ts
Due: frontend-lint, frontend-typecheck

feat: Update notes editor with inheritance handling and cancel support
  frontend/src/api/core/index.ts
  frontend/src/api/core/notes.ts
  frontend/src/api/demo/demoNotes.ts
  frontend/src/api/demo/index.ts
  frontend/src/api/demoData.ts
  frontend/src/api/queries/index.ts
  frontend/src/api/queries/keys.ts
  frontend/src/api/queries/notesQueries.ts
  frontend/src/components/notes/NoteEditorConfirmations.tsx
  frontend/src/components/notes/NoteEditorMDX.tsx
  frontend/src/components/notes/NoteEditorModal.tsx
  frontend/src/types/notes.ts
Due: frontend-lint, frontend-typecheck

feat: Desktop app update and window improvements
  frontend/src/components/LoginForm.tsx
  frontend/src/components/layout/AppFooter.tsx
  frontend/src/components/layout/AppHeader.tsx
  frontend/src/components/layout/AppShell.tsx
  frontend/src/components/login/CredentialsForm.tsx
  frontend/src/components/login/LoginSecurityNotice.tsx
  frontend/src/components/login/index.ts
  frontend/src/components/settings/UpdatesSection.tsx
  frontend/src/components/ui/StartupLoadingScreen.tsx
  frontend/src/components/ui/StartupUpdateStatus.tsx
  frontend/src/components/ui/startupMessages.ts
  frontend/src/components/update/DownloadProgressBanner.tsx
  frontend/src/components/update/ReleaseNotesModal.tsx
  frontend/src/components/update/UpdateReadyBanner.tsx
  frontend/src/components/update/index.ts
  frontend/src/hooks/index.ts
  frontend/src/hooks/useCompactWindowSize.ts
  frontend/src/types/electron.d.ts
Due: frontend-lint, frontend-typecheck

feat: Add inline migration system for packaged desktop apps
  state/db/database.py
  state/db/inline_migrations.py
  state/db/migrations/versions/002_checkbox_json_states.py
Due: mypy

feat: Add source field to RateLimitError for UX distinction
  core/decorators.py
  core/exceptions.py
  services/sync_service.py
Due: mypy

feat: Show different rate limit messages based on source
  frontend/src/api/core/fetchApi.ts
  frontend/src/components/ui/RateLimitBanner.tsx
  frontend/src/context/RateLimitContext.tsx
Due: frontend-lint, frontend-typecheck

fix: Improve Windows desktop startup experience
  desktop/src/main/index.ts
  desktop/src/main/window.ts
Due: none

fix: Windows bug fixes and rate limit UX improvements (#196)
  README.md
  core/decorators.py
  core/exceptions.py
  desktop/src/main/index.ts
  desktop/src/main/window.ts
  frontend/src/api/core/fetchApi.ts
  frontend/src/components/layout/AppHeader.tsx
  frontend/src/components/layout/SidebarNavigation.tsx
  frontend/src/components/ui/RateLimitBanner.tsx
  frontend/src/context/RateLimitContext.tsx
  frontend/src/index.css
  services/recurring_service.py
  services/sync_service.py
Due: mypy, frontend-lint, frontend-typecheck

fix: Center Left to Spend badge on Windows/Linux desktop header
  frontend/src/components/layout/AppHeader.tsx
Due: frontend-lint, frontend-typecheck

fix: Windows installer launch and focus improvements
  desktop/electron-builder.beta.yml
  desktop/electron-builder.yml
  desktop/installer/custom.nsh
  desktop/installer/uninstaller.nsh
  desktop/src/main/window.ts
Due: none

feat: Add startup timing instrumentation for debugging
  desktop/src/main/index.ts
  desktop/src/main/window.ts
Due: none

feat: Improve updater debugging and manual download UX
  desktop/src/main/updater.ts
  frontend/src/components/update/DesktopUpdateContent.tsx
  frontend/src/hooks/useElectronUpdates.ts
Due: frontend-lint, frontend-typecheck

fix: Windows installer launch hang and debugging improvements (#199)
  desktop/installer/custom.nsh
  desktop/src/main/index.ts
  desktop/src/main/updater.ts
  desktop/src/main/window.ts
  frontend/src/components/update/DesktopUpdateContent.tsx
  frontend/src/hooks/useElectronUpdates.ts
Due: frontend-lint, frontend-typecheck

fix: Use correct NSIS variable APP_FILENAME for executable
  desktop/installer/custom.nsh
Due: none

fix: Wrap installer-only NSIS code in BUILD_UNINSTALLER check
  desktop/installer/custom.nsh
Due: none

fix: Undef existing MUI finish page defines before overriding
  desktop/installer/custom.nsh
Due: none

feat: Add Windows title bar overlay for modern frameless look
  desktop/src/main/index.ts
  desktop/src/main/ipc.ts
  desktop/src/main/menu.ts
  desktop/src/main/window.ts
  desktop/src/preload/index.ts
  frontend/src/components/ElectronTitleBar.tsx
  frontend/src/components/MfaCodeCaveatsModal.tsx
  frontend/src/components/layout/AppHeader.tsx
  frontend/src/components/layout/AppShell.tsx
  frontend/src/components/ui/Modal.tsx
  frontend/src/context/AuthContext.tsx
  frontend/src/hooks/index.ts
  frontend/src/hooks/useWindowsElectron.ts
  frontend/src/types/electron.d.ts
Due: frontend-lint, frontend-typecheck

feat: Enhance release notes with GitHub-style formatting and AI summaries
  .github/workflows/20-release-beta.yml
  .github/workflows/21-release-stable.yml
  .github/workflows/44-update-release-notes.yml
  scripts/release-notes-updater/generator.ts
  scripts/release-notes-updater/index.ts
Due: none

Path conditions:
  mypy: any of: \.py$, but not: ^(frontend/|tests/)
  frontend-lint: any of: ^frontend/src/.*\.(ts|tsx)$
  frontend-typecheck: any of: ^frontend/.*\.(ts|tsx)$
