Repository 312-dev/eclosion-for-monarch: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, frontend-lint, frontend-typecheck

mypy:
  name: mypy
  entry: mypy
  language: system
  args:
  - --config-file=pyproject.toml
  pass_filenames: true
  require_serial: true

frontend-lint:
  name: frontend-lint
  entry: npx eslint --max-warnings=0 -c frontend/eslint.config.js
  language: system
  pass_filenames: true

frontend-typecheck:
  name: frontend-typecheck
  entry: bash -c 'cd frontend && npm run type-check'
  language: system
  pass_filenames: false

feat(stash): add Openverse API integration for image search
  desktop/src/main/openverse/index.ts
  frontend/src/api/core/openverse.ts
  frontend/src/api/demo/demoOpenverse.ts
  frontend/src/api/queries/openverseQueries.ts
  frontend/src/types/openverse.ts
  frontend/src/utils/openverseCredentials.ts
Due: frontend-lint, frontend-typecheck

feat(desktop): add IPC handlers for stash image operations
  desktop/src/main/ipc.ts
  desktop/src/main/store.ts
  desktop/src/preload/index.ts
  frontend/src/types/electron.d.ts
Due: frontend-lint, frontend-typecheck

refactor(settings): update settings modals to use ModalButtons
  frontend/src/components/import/ImportSettingsModal.tsx
  frontend/src/components/settings/AccountSection.tsx
  frontend/src/components/settings/AppearanceSettings.tsx
  frontend/src/components/settings/CashAccountSelectionModal.tsx
  frontend/src/components/settings/DangerZoneSection.tsx
  frontend/src/components/settings/DataManagementSection.tsx
  frontend/src/components/settings/HiddenCategoriesModal.tsx
  frontend/src/components/settings/RecurringResetModal.tsx
  frontend/src/components/settings/ThresholdInput.tsx
  frontend/src/components/settings/ToggleSwitch.tsx
  frontend/src/components/uninstall/UninstallModalFooter.tsx
Due: frontend-lint, frontend-typecheck

refactor: migrate custom Monarch API calls to library methods
  monarch_utils.py
  requirements-vcs.txt
  services/category_manager.py
Due: mypy

feat(db): add stash config columns and Monarch goal layout table
  state/db/migrations/versions/010_monarch_goal_layout.py
  state/db/migrations/versions/011_selected_cash_accounts.py
  state/db/migrations/versions/012_stash_config_updates.py
  state/db/models/__init__.py
  state/db/models/tracker.py
  state/db/repositories/tracker_repo.py
Due: mypy

feat(stash): add hypothesis save/load UI components
  frontend/src/components/stash/AvailableFundsBar.tsx
  frontend/src/components/stash/AvailableToStash.tsx
  frontend/src/components/stash/DistributeItemRow.tsx
  frontend/src/components/stash/DistributeWizard.tsx
  frontend/src/components/stash/LoadHypothesisOverlay.tsx
  frontend/src/components/stash/SaveHypothesisOverlay.tsx
  frontend/src/components/stash/StashReportsView.tsx
Due: frontend-lint, frontend-typecheck

refactor(modals): update stash/notes modals and wizards to use ModalButtons
  frontend/src/components/notes/ArchivedNotesSection.tsx
  frontend/src/components/notes/ExportNotesModal.tsx
  frontend/src/components/notes/NoteEditorMDX.tsx
  frontend/src/components/recurring/ActionsDropdown.tsx
  frontend/src/components/stash/DeleteStashConfirmModal.tsx
  frontend/src/components/stash/StashCategoryModal.tsx
  frontend/src/components/stash/StashCategoryModalViews.tsx
  frontend/src/components/stash/StashModalComponents.tsx
  frontend/src/components/stash/StashVsGoalsModal.tsx
  frontend/src/components/wizards/RollupTipModal.tsx
  frontend/src/components/wizards/WizardNavigation.tsx
  frontend/src/components/wizards/stash/steps/BrowserSelectionStep.tsx
  frontend/src/components/wizards/steps/ItemSelectionStep.tsx
Due: frontend-lint, frontend-typecheck

refactor(stash): extract BreakdownComponents for reuse
  frontend/src/components/stash/AvailableFundsBar.tsx
  frontend/src/components/stash/AvailableToStash.tsx
  frontend/src/components/stash/BreakdownComponents.tsx
  frontend/src/components/stash/BreakdownDetailModal.tsx
Due: frontend-lint, frontend-typecheck

feat(stash): update stash components and styles
  frontend/src/api/queries/monarchGoalQueries.ts
  frontend/src/components/stash/DistributeItemRow.tsx
  frontend/src/components/stash/PendingReviewBanner.tsx
  frontend/src/components/stash/PendingReviewSection.tsx
  frontend/src/components/tabs/DashboardTab.tsx
  frontend/src/hooks/useStashSync.ts
  frontend/src/index.css
  frontend/src/types/stash.ts
Due: frontend-lint, frontend-typecheck

feat(api): add refresh parameter to flexible category groups endpoint
  blueprints/recurring.py
Due: mypy

fix: resolve mypy type errors in stash and settings services
  blueprints/recurring.py
  monarch_utils.py
  services/settings_export_service.py
  services/stash_service.py
Due: mypy

feat(api): add stash hypothesis frontend API layer
  frontend/src/api/core/index.ts
  frontend/src/api/core/stash.ts
  frontend/src/api/queries/index.ts
  frontend/src/api/queries/keys.ts
  frontend/src/api/queries/stashQueries.ts
  frontend/src/types/index.ts
  frontend/src/types/stash.ts
Due: frontend-lint, frontend-typecheck

feat(stash): add InlineCategorySelector component
  frontend/src/components/stash/InlineCategorySelector.tsx
Due: frontend-lint, frontend-typecheck

feat(backend): add stash hypothesis service and API endpoints
  blueprints/stash.py
  monarch_utils.py
  services/stash_service.py
  services/sync_service.py
Due: mypy

fix: address log injection security warnings
  services/stash_service.py
  state/db/repositories/tracker_repo.py
Due: mypy

fix: revert lint config changes to match main branch
  pyproject.toml
Due: none

feat(export): add stash hypothesis export/import support
  frontend/src/api/demo/demoSettingsExport.ts
  frontend/src/api/demo/demoSettingsImport.ts
  frontend/src/types/settings-export.ts
  services/settings_export_service.py
Due: mypy, frontend-lint, frontend-typecheck

chore: add file length check script and update hooks
  .husky/pre-push
  .pre-commit-config.yaml
  pyproject.toml
  scripts/check-file-length.py
Due: mypy

feat: update UI components, styles, and misc improvements
  .gitignore
  frontend/src/components/AutoSyncSecurityModal.tsx
  frontend/src/components/EmojiPicker.tsx
  frontend/src/components/LinkCategoryModal.tsx
  frontend/src/components/ResetAppModal.tsx
  frontend/src/components/UpdateBanner.tsx
  frontend/src/components/VersionBadge.tsx
  frontend/src/components/icons/index.tsx
  frontend/src/components/import/ImportSettingsModal.tsx
  frontend/src/components/layout/AppShell.tsx
  frontend/src/components/marketing/MarketingVersionIndicator.tsx
  frontend/src/components/marketing/WhyEclosionSection.tsx
  frontend/src/components/notes/CategoryRow.tsx
  frontend/src/components/notes/ExportNotesModal.tsx
  frontend/src/components/notes/MonthYearSelector.tsx
  frontend/src/components/notes/RevisionHistoryModal.tsx
  frontend/src/components/settings/CashAccountSelectionModal.tsx
  frontend/src/components/settings/HiddenCategoriesModal.tsx
  frontend/src/components/settings/RecurringResetModal.tsx
  frontend/src/components/shared/SavingsProgressBar.tsx
  frontend/src/components/tabs/NotesTab.tsx
  frontend/src/components/ui/GetStartedModal.tsx
  frontend/src/components/ui/HoverCard.tsx
  frontend/src/components/ui/Modal.tsx
  frontend/src/components/ui/ModalButtons.tsx
  frontend/src/components/ui/ToolPageHeader.tsx
  frontend/src/components/ui/Tooltip.tsx
  frontend/src/components/uninstall/UninstallModal.tsx
  frontend/src/components/uninstall/UninstallModalFooter.tsx
  frontend/src/components/update/UpdateModal.tsx
  frontend/src/constants/index.ts
  frontend/src/context/RateLimitContext.tsx
  frontend/src/index.css
  frontend/src/types/sync.ts
  frontend/src/utils/formatters.ts
Due: frontend-lint, frontend-typecheck

feat(stash): update stash components with distribution mode support
  frontend/src/components/stash/AvailableFundsBar.tsx
  frontend/src/components/stash/CardAllocationInput.tsx
  frontend/src/components/stash/DebtAccountSelectorModal.tsx
  frontend/src/components/stash/DistributeButton.tsx
  frontend/src/components/stash/EditStashForm.tsx
  frontend/src/components/stash/MonarchGoalCard.tsx
  frontend/src/components/stash/NewStashForm.tsx
  frontend/src/components/stash/StashBudgetInput.tsx
  frontend/src/components/stash/StashCard.tsx
  frontend/src/components/stash/StashCardGrid.tsx
  frontend/src/components/stash/StashFormFields.tsx
  frontend/src/components/stash/StashWidgetGrid.tsx
  frontend/src/components/stash/index.ts
Due: frontend-lint, frontend-typecheck

refactor(stash): remove old distribute wizard components
  frontend/src/components/stash/DistributeInfoTooltip.tsx
  frontend/src/components/stash/DistributeItemRow.tsx
  frontend/src/components/stash/DistributeReviewScreen.tsx
  frontend/src/components/stash/DistributeScreen.tsx
  frontend/src/components/stash/DistributeWizard.tsx
  frontend/src/components/stash/DistributionFlowDiagram.tsx
  frontend/src/components/stash/EventRow.tsx
  frontend/src/components/stash/LoadHypothesisOverlay.tsx
  frontend/src/components/stash/SaveHypothesisOverlay.tsx
Due: frontend-lint, frontend-typecheck

feat: update UI components, styles, and misc improvements
  frontend/src/components/LeftToBudgetBadge.tsx
  frontend/src/components/icons/index.tsx
  frontend/src/components/ready-to-assign/ReadyToAssign.tsx
  frontend/src/components/tabs/StashTab.tsx
  frontend/src/constants/index.ts
  frontend/src/hooks/useAnimatedValue.ts
  frontend/src/index.css
  frontend/src/test/test-utils.tsx
  frontend/src/types/availableToStash.ts
  frontend/src/types/index.ts
  frontend/src/utils/availableToStash.ts
Due: frontend-lint, frontend-typecheck

fix: add missing useEffect import to TimelineEventMarkers
  frontend/src/components/stash/timeline/TimelineEventMarkers.tsx
Due: frontend-lint, frontend-typecheck

style: format backend Python files with ruff
  blueprints/stash.py
  services/category_manager.py
  services/credentials_service.py
  services/security_service.py
  services/stash_service.py
  state/db/models/security.py
  state/db/models/tracker.py
Due: mypy

chore: add eslint-disable comments to pre-existing lint warnings
  frontend/src/api/demo/demoOpenverse.ts
  frontend/src/components/SearchableSelect.tsx
  frontend/src/components/settings/RecurringToolSettings.tsx
  frontend/src/components/settings/StashToolSettings.tsx
  frontend/src/components/stash/StashRow.tsx
  frontend/src/components/stash/UnitSelector.tsx
  frontend/src/components/stash/timeline/TimelineEditPopover.tsx
  frontend/src/utils/eventProjection.ts
Due: frontend-lint, frontend-typecheck

chore: ignore glibc CVEs pending base image update
  .trivyignore
Due: none

fix(ci): install playwright browsers after npm ci
  .github/workflows/22-release-pipeline.yml
Due: none

fix(routing): prioritize marketing site check over global demo mode (#227)
  frontend/src/App.tsx
Due: frontend-lint, frontend-typecheck

fix(ci): add SPA mode flag to serve for screenshot generation
  .github/workflows/22-release-pipeline.yml
Due: none

fix(stash): initialize distribute mode with current balances
  frontend/src/context/DistributionModeContext.tsx
Due: frontend-lint, frontend-typecheck

chore: remove unused components and hooks
  frontend/src/components/docs/MDXProvider.tsx
  frontend/src/components/marketing/ChecksumDisplay.tsx
  frontend/src/components/marketing/PlatformDownloadCard.tsx
  frontend/src/components/marketing/PrivacyNote.tsx
  frontend/src/components/marketing/TrustBadges.tsx
  frontend/src/components/marketing/UnsignedAppNotice.tsx
  frontend/src/components/notes/NoteDisplay.tsx
  frontend/src/components/notes/NoteEditor.tsx
  frontend/src/components/notes/ReaderView.tsx
  frontend/src/components/settings/SettingsSidebar.tsx
  frontend/src/components/stash/ImagePickerDropdown.tsx
  frontend/src/components/stash/StashBufferSlider.tsx
  frontend/src/components/stash/UnitSelector.tsx
  frontend/src/components/ui/GetStartedDeploymentContent.tsx
  frontend/src/components/ui/RateLimitTooltip.tsx
  frontend/src/hooks/index.ts
  frontend/src/hooks/useAsync.test.ts
  frontend/src/hooks/useAsync.ts
  frontend/src/hooks/useDebounce.ts
  frontend/src/hooks/useEditableField.ts
  frontend/src/hooks/useFormattedNumberInput.ts
  frontend/src/hooks/usePrevious.ts
  frontend/src/hooks/useTimelineCursor.ts
  frontend/src/types/index.ts
  frontend/src/types/savingsGoal.ts
Due: frontend-lint, frontend-typecheck

refactor: remove openverse integration
  frontend/src/api/core/index.ts
  frontend/src/api/core/openverse.ts
  frontend/src/api/demo/demoOpenverse.ts
  frontend/src/api/demo/index.ts
  frontend/src/api/queries/index.ts
  frontend/src/api/queries/openverseQueries.ts
  frontend/src/types/openverse.ts
  frontend/src/utils/openverseCredentials.ts
Due: frontend-lint, frontend-typecheck

feat(stash): add distribution mode dialogs and withdraw/deposit overlay
  frontend/src/components/stash/DistributionModeBanner.tsx
  frontend/src/components/stash/DistributionModeDialogs.tsx
  frontend/src/components/stash/ExitHypothesizeConfirmModal.tsx
  frontend/src/components/stash/WithdrawDepositOverlay.tsx
  frontend/src/context/DistributionModeContext.tsx
  frontend/src/hooks/index.ts
  frontend/src/hooks/useDistributionBannerActions.ts
Due: frontend-lint, frontend-typecheck

feat(api): add stash pending queries and enhanced demo mode
  frontend/src/api/core/stash.ts
  frontend/src/api/demo/demoSettingsImport.ts
  frontend/src/api/demo/demoStash.ts
  frontend/src/api/demo/demoStashConfig.ts
  frontend/src/api/demo/demoStashHistory.ts
  frontend/src/api/demoData.ts
  frontend/src/api/queries/stashPendingQueries.ts
  frontend/src/api/queries/stashQueries.ts
Due: frontend-lint, frontend-typecheck

refactor(frontend): update context, hooks, and app configuration
  frontend/src/App.tsx
  frontend/src/context/AuthContext.tsx
  frontend/src/data/features.ts
  frontend/src/hooks/useAppTour.ts
  frontend/src/hooks/useIsMarketingSite.ts
  frontend/src/hooks/usePageSync.ts
  frontend/src/hooks/useRecurringItemActions.ts
  frontend/src/index.css
  frontend/src/vite-env.d.ts
Due: frontend-lint, frontend-typecheck

docs: update available-to-stash documentation
  .claude/rules/available-to-stash.md
  CLAUDE.md
Due: none

fix: mark unused parameter in getButtonStyles
  frontend/src/components/stash/WithdrawDepositOverlay.tsx
Due: frontend-lint, frontend-typecheck

fix: resolve mypy type errors in metadata_service.py
  services/metadata_service.py
Due: mypy

fix: remove unused type: ignore comments and fix mypy errors
  services/metadata_service.py
Due: mypy

Path conditions:
  mypy: any of: \.py$, but not: ^(frontend/|tests/)
  frontend-lint: any of: ^frontend/src/.*\.(ts|tsx)$
  frontend-typecheck: any of: ^frontend/.*\.(ts|tsx)$
