Repository 312-dev/eclosion-for-monarch: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, frontend-lint, frontend-typecheck

.pre-commit-config.yaml:

# Pre-commit hooks for Eclosion
# Install: pre-commit install
# Run manually: pre-commit run --all-files

default_language_version:
  python: python3.11

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        exclude: ^frontend/
      - id: end-of-file-fixer
        exclude: ^frontend/
      - id: check-yaml
        args: [--unsafe]
      - id: check-json
        exclude: ^frontend/
      - id: check-added-large-files
        args: ["--maxkb=1000"]
      - id: check-merge-conflict
      - id: detect-private-key

  # Ruff - Python linting and formatting (replaces black, isort, flake8)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.4
    hooks:
      # Linter
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        types_or: [python, pyi]
        exclude: ^frontend/
      # Formatter (replaces black)
      - id: ruff-format
        types_or: [python, pyi]
        exclude: ^frontend/

  # Type checking (runs on staged files only for speed)
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        exclude: ^(frontend/|tests/)
        args: [--config-file=pyproject.toml]
        pass_filenames: true
        require_serial: true

      # Frontend linting
      - id: frontend-lint
        name: frontend-lint
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false

      # Frontend type checking
      - id: frontend-typecheck
        name: frontend-typecheck
        entry: bash -c 'cd frontend && npm run type-check'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false

Refactor sync_service.py and state migration files for improved readability and consistency
  core/automation_credentials.py
  core/config.py
  core/decorators.py
  core/encryption.py
  core/error_detection.py
  core/exceptions.py
  core/logging_config.py
  core/scheduler.py
  frontend/src/types/version.ts
  services/category_manager.py
  services/category_operations.py
  services/credentials_service.py
  services/frozen_target_calculator.py
  services/recurring_service.py
  services/rollup_service.py
  services/savings_calculator.py
  services/sync_service.py
  state/migrations/backup.py
  state/migrations/base.py
  state/migrations/compatibility.py
  state/migrations/executor.py
  state/migrations/registry.py
  state/state_cache.py
  state/state_manager.py
  tests/test_savings_calculator.py
  tests/test_state_manager.py
Due: mypy, frontend-lint, frontend-typecheck

feat: Enhance changelog handling with AI-generated summaries and improved display
  .github/workflows/release-please.yml
  api.py
  frontend/src/api/demoClient.ts
  frontend/src/components/ChangelogDisplay.tsx
Due: mypy, frontend-lint, frontend-typecheck

feat: Update release workflow to use dynamic PR head branch reference
  .github/workflows/release-please.yml
Due: none

feat: Enhance CI workflows to include file change detection for frontend, backend, and Docker builds
  .github/workflows/ci.yml
  .github/workflows/docker-publish.yml
Due: none

chore: Configure grouped Dependabot updates
  .github/dependabot.yml
Due: none

feat: Revise README for clarity and enhance feature descriptions
  README.md
Due: none

feat: Update CI workflow to remove paths-ignore for markdown and documentation files; add LICENSE file with MIT license
  .github/workflows/ci.yml
  LICENSE
  frontend/package.json
Due: none

feat: Add security scanning workflow with CodeQL, dependency scanning, and container scanning
  .github/workflows/ci.yml
  .github/workflows/security.yml
  .zap/rules.tsv
Due: none

feat: Update project overview and enhance z-index hierarchy in guidelines
  CLAUDE.md
Due: none

feat: Update CI workflows to support manual triggers, remove unused Docker job, and enhance security scanning
  .github/workflows/ci.yml
  .github/workflows/docker-publish.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  frontend/public/404.html
  frontend/public/CNAME
  frontend/vite.config.ts
Due: frontend-lint, frontend-typecheck

feat: Remove session secret file and update AppRouter to support marketing site routing
  .session_secret
  frontend/src/App.tsx
Due: frontend-lint, frontend-typecheck

refactor: Improve code readability by formatting long lines and simplifying error messages
  api.py
  core/decorators.py
  state/migrations/backup.py
Due: mypy

feat: Add conditional Docs link for minimal header on landing page
  frontend/src/components/marketing/DocsLayout.tsx
Due: frontend-lint, frontend-typecheck

feat: Refactor Dockerfile for multi-stage builds and enhance Python dependency management; add input sanitization utilities
  Dockerfile
  api.py
  core/__init__.py
  core/decorators.py
  core/sanitization.py
Due: mypy

feat: Include Dockerfile in CI workflow file change detection
  .github/workflows/ci.yml
Due: none

fix: Create state directory with proper permissions for Chainguard nonroot user
  Dockerfile
Due: none

fix: Use COPY --chown for state dir (distroless has no shell)
  Dockerfile
Due: none

feat: Enhance container health check with detailed logging and timeout handling
  .github/workflows/security.yml
Due: none

fix: Simplify CMD instruction in Dockerfile for Chainguard Python image
  Dockerfile
Due: none

feat: Add VSCode settings for Python formatting and linting; update various functions for type hints and error handling
  .vscode/settings.json
  CNAME
  api.py
  core/automation_credentials.py
  core/decorators.py
  monarch_utils.py
  services/category_manager.py
  services/frozen_target_calculator.py
  services/recurring_service.py
  services/rollup_service.py
  services/sync_service.py
  state/migrations/backup.py
  state/migrations/registry.py
  state/state_manager.py
Due: mypy
