Repository 312-dev/eclosion-for-monarch: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-file-length, frontend-lint, frontend-typecheck

python-file-length:
  name: python-file-length
  entry: python scripts/check-file-length.py
  language: system
  pass_filenames: true

frontend-lint:
  name: frontend-lint
  entry: npx eslint --max-warnings=0 -c frontend/eslint.config.js
  language: system
  pass_filenames: true

frontend-typecheck:
  name: frontend-typecheck
  entry: bash -c 'cd frontend && npm run type-check'
  language: system
  pass_filenames: false

feat: add Refundables frontend API layer, types, and query hooks
  frontend/src/api/core/index.ts
  frontend/src/api/core/refundables.ts
  frontend/src/api/demo/demoRefundables.ts
  frontend/src/api/demo/demoRefundablesData.ts
  frontend/src/api/demo/demoState.ts
  frontend/src/api/demo/index.ts
  frontend/src/api/demoData.ts
  frontend/src/api/queries/dependencies.ts
  frontend/src/api/queries/index.ts
  frontend/src/api/queries/keys.ts
  frontend/src/api/queries/refundablesQueries.ts
  frontend/src/types/refundables.ts
Due: frontend-lint, frontend-typecheck

docs: add Refundables documentation, tests, and README entry
  README.md
  docusaurus/docs/refundables/_category_.json
  docusaurus/docs/refundables/overview.mdx
  docusaurus/sidebars.ts
  scripts/docs-gen/types.ts
  tests/integration/test_refundables.py
Due: none

fix: add missing TransactionTag import in demoRefundables
  frontend/src/api/demo/demoRefundables.ts
Due: frontend-lint, frontend-typecheck

chore(deps): bump cryptography 46.0.4 -> 46.0.5 (CVE-2026-26007)
  requirements/base.txt
  requirements/dev.txt
Due: none

feat: add credits_only filter to transaction search API
  monarch_utils.py
  services/refundables_service.py
Due: python-file-length

feat: add shift-click range selection, select-all checkbox, and search shortcut
  frontend/src/components/refunds/SkippedSection.tsx
  frontend/src/components/refunds/TransactionContent.tsx
  frontend/src/components/refunds/TransactionList.tsx
  frontend/src/components/refunds/TransactionSearchBar.tsx
  frontend/src/components/refunds/useRefundsSelection.ts
Due: frontend-lint, frontend-typecheck

feat: add credit group rows for refund and expected refund grouping
  frontend/src/components/refunds/CreditGroupRow.tsx
  frontend/src/components/refunds/useCreditGroups.ts
  frontend/src/components/refunds/useRefundsScroll.ts
  frontend/src/types/refunds.ts
Due: frontend-lint, frontend-typecheck

feat: include credit groups in refunds export with coverage visualization
  frontend/src/utils/refundsExport.ts
Due: frontend-lint, frontend-typecheck

fix: reduce RefundsTab line count below 300-line limit
  frontend/src/components/refunds/RefundsTab.tsx
Due: frontend-lint, frontend-typecheck

fix: reduce RefundsTab line count to 280 by removing intermediate destructuring
  frontend/src/components/refunds/RefundsTab.tsx
Due: frontend-lint, frontend-typecheck

fix: add ClassVar annotation for mutable class attribute in test
  tests/test_settings_export_service.py
Due: none

fix: reuse single SQLite session to prevent database lock in export
  services/settings_export_service.py
Due: python-file-length

fix: use CSS grid for mobile sidebar nav to distribute items evenly
  frontend/src/index.css
Due: none

fix: delete existing expected/skipped refund matches before creating new ones
  frontend/src/components/refunds/useRefundsMatchHandlers.ts
Due: frontend-lint, frontend-typecheck

fix: resolve credit groups to original transactions in refunds batch actions
  frontend/src/components/refunds/useRefundsBatchActions.ts
Due: frontend-lint, frontend-typecheck

feat: show match count and remaining amount for refund candidates
  frontend/src/components/refunds/RefundMatchModal.tsx
  frontend/src/components/refunds/RefundMatchSubComponents.tsx
Due: frontend-lint, frontend-typecheck

feat: add unmatch confirmation modal for refund transactions
  frontend/src/components/refunds/RefundsModals.tsx
  frontend/src/components/refunds/RefundsTab.tsx
  frontend/src/components/refunds/UnmatchConfirmModal.tsx
  frontend/src/components/refunds/useUnmatchFlow.ts
Due: frontend-lint, frontend-typecheck

fix: reduce RefundsTab line count to pass max-lines lint rule
  frontend/src/components/refunds/RefundsTab.tsx
Due: frontend-lint, frontend-typecheck

feat: make cards edge-to-edge on mobile with responsive rounding and padding
  frontend/src/components/RecurringList.tsx
  frontend/src/components/RollupZone.tsx
  frontend/src/components/notes/CategoryTree.tsx
  frontend/src/components/notes/GeneralMonthNotes.tsx
  frontend/src/components/settings/AccountSection.tsx
  frontend/src/components/settings/AppearanceSettings.tsx
  frontend/src/components/settings/DangerZoneSection.tsx
  frontend/src/components/settings/DataManagementSection.tsx
  frontend/src/components/settings/DemoModeSection.tsx
  frontend/src/components/settings/DeveloperSection.tsx
  frontend/src/components/settings/LogViewerSection.tsx
  frontend/src/components/settings/NotesToolSettings.tsx
  frontend/src/components/settings/RecurringToolSettings.tsx
  frontend/src/components/settings/RefundsToolSettings.tsx
  frontend/src/components/settings/SecuritySection.tsx
  frontend/src/components/settings/SettingsHeader.tsx
  frontend/src/components/settings/StashToolSettings.tsx
  frontend/src/components/settings/UpdatesSection.tsx
  frontend/src/components/settings/desktop/DesktopSection.tsx
  frontend/src/components/settings/desktop/IftttSection.tsx
  frontend/src/components/settings/desktop/RemoteAccessSection.tsx
  frontend/src/components/settings/settingsSections.tsx
  frontend/src/components/shared/SavingsProgressBar.tsx
  frontend/src/components/stash/IgnoredBookmarksSection.tsx
  frontend/src/components/tabs/DashboardTab.tsx
  frontend/src/components/tabs/NotesTab.tsx
  frontend/src/components/tabs/RecurringTab.tsx
  frontend/src/components/tabs/StashTab.tsx
  frontend/src/components/updates/RecentUpdates.tsx
  frontend/src/components/updates/UpdatesCarousel.tsx
Due: frontend-lint, frontend-typecheck

fix: use consistent text-sm font size across all refunds table columns
  frontend/src/components/refunds/CreditGroupRow.tsx
  frontend/src/components/refunds/TransactionRow.tsx
Due: frontend-lint, frontend-typecheck

refactor: use useDropdown hook and Portal in EnableTrackingMenu
  frontend/src/components/recurring/EnableTrackingMenu.tsx
Due: frontend-lint, frontend-typecheck

fix: simplify RecurringCard row alignment to always center items
  frontend/src/components/recurring/RecurringCard.tsx
Due: frontend-lint, frontend-typecheck

feat: enable update management through remote tunnel UI
  frontend/src/context/UpdateContext.tsx
Due: frontend-lint, frontend-typecheck

update: add canvas padding to macOS icons for correct dock sizing
  desktop/scripts/generate-icons.js
Due: none

update: simplify rollup add/remove API to remove monthly_rate param
  services/rollup_service.py
  state/db/repositories/tracker_repo.py
  state/state_manager.py
  tests/test_rollup_service.py
  tests/test_settings_export_service.py
  tests/test_transaction_categorizer.py
Due: python-file-length

update: fix missed remove_from_rollup call site in state_manager
  state/state_manager.py
Due: python-file-length

Path conditions:
  python-file-length: any of: \.py$, but not: ^(frontend/|tests/|lib/|scripts/)
  frontend-lint: any of: ^frontend/src/.*\.(ts|tsx)$
  frontend-typecheck: any of: ^frontend/.*\.(ts|tsx)$
