Repository 312-dev/eclosion-for-monarch: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, frontend-lint, frontend-typecheck

.pre-commit-config.yaml:

# Pre-commit hooks for Eclosion
# Install: pre-commit install
# Run manually: pre-commit run --all-files

default_language_version:
  python: python3.11

# Tip: Use `pre-commit run --hook-stage manual gitleaks` for full repo scan
# Normal commits only scan staged changes (much faster)

repos:
  # General file checks (fast - run first for fail-fast)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ["--maxkb=1000"]
      - id: detect-private-key
      - id: check-yaml
        args: [--unsafe]
      - id: check-json
        exclude: ^frontend/
      - id: trailing-whitespace
        exclude: ^frontend/
      - id: end-of-file-fixer
        exclude: ^frontend/

  # Gitleaks - Secret detection
  # Runs on staged files during commits; full scan happens in CI
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.21.2
    hooks:
      - id: gitleaks
        args: [protect, --staged, --redact]

  # Ruff - Python linting and formatting (very fast)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.4
    hooks:
      # Linter
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        types_or: [python, pyi]
        exclude: ^frontend/
      # Formatter (replaces black)
      - id: ruff-format
        types_or: [python, pyi]
        exclude: ^frontend/

  # Type checking and frontend checks
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        exclude: ^(frontend/|tests/)
        args: [--config-file=pyproject.toml]
        pass_filenames: true
        require_serial: true

      # Frontend linting - only changed files for speed
      - id: frontend-lint
        name: frontend-lint
        entry: npx eslint --max-warnings=0 -c frontend/eslint.config.js
        language: system
        files: ^frontend/src/.*\.(ts|tsx)$
        pass_filenames: true

      # Frontend type checking (must check whole project for type coherence)
      - id: frontend-typecheck
        name: frontend-typecheck
        entry: bash -c 'cd frontend && npm run type-check'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false

feat(frontend): add wishlist TypeScript types
  frontend/src/types/bookmarks.ts
  frontend/src/types/electron.d.ts
  frontend/src/types/index.ts
  frontend/src/types/pendingBookmark.ts
  frontend/src/types/recurring.ts
  frontend/src/types/savingsGoal.ts
  frontend/src/types/wishlist.ts
  frontend/src/types/wishlistConfig.ts
Due: frontend-lint, frontend-typecheck

feat(queries): add wishlist React Query hooks
  frontend/src/api/queries/categoryGroupStoreQueries.ts
  frontend/src/api/queries/categoryStoreQueries.ts
  frontend/src/api/queries/index.ts
  frontend/src/api/queries/keys.ts
  frontend/src/api/queries/wishlistConfigQueries.ts
  frontend/src/api/queries/wishlistPendingQueries.ts
  frontend/src/api/queries/wishlistQueries.ts
Due: frontend-lint, frontend-typecheck

feat(wishlist): add wishlist UI components
  frontend/src/components/layout/wishlistTourSteps.tsx
  frontend/src/components/settings/WishlistToolSettings.tsx
  frontend/src/components/shared/SavingsProgressBar.tsx
  frontend/src/components/shared/index.ts
  frontend/src/components/tabs/WishlistTab.tsx
  frontend/src/components/wishlist/DeleteWishlistConfirmModal.tsx
  frontend/src/components/wishlist/EditWishlistModal.tsx
  frontend/src/components/wishlist/IgnoredBookmarksSection.tsx
  frontend/src/components/wishlist/NewWishlistModal.tsx
  frontend/src/components/wishlist/PendingReviewBanner.tsx
  frontend/src/components/wishlist/PendingReviewRow.tsx
  frontend/src/components/wishlist/PendingReviewSection.tsx
  frontend/src/components/wishlist/WishlistActionsDropdown.tsx
  frontend/src/components/wishlist/WishlistBudgetInput.tsx
  frontend/src/components/wishlist/WishlistCard.tsx
  frontend/src/components/wishlist/WishlistCardGrid.tsx
  frontend/src/components/wishlist/WishlistCategoryModal.tsx
  frontend/src/components/wishlist/WishlistImageUpload.tsx
  frontend/src/components/wishlist/WishlistItemImage.tsx
  frontend/src/components/wishlist/WishlistRow.tsx
  frontend/src/components/wishlist/WishlistWidgetGrid.tsx
  frontend/src/components/wishlist/index.ts
  frontend/src/components/wizards/wishlist/BrowserBookmarksSetupWizard.tsx
  frontend/src/components/wizards/wishlist/index.ts
  frontend/src/components/wizards/wishlist/steps/BrowserSelectionStep.tsx
  frontend/src/components/wizards/wishlist/steps/CategoryGroupStep.tsx
  frontend/src/components/wizards/wishlist/steps/FolderSelectionStep.tsx
  frontend/src/components/wizards/wishlist/steps/index.ts
Due: frontend-lint, frontend-typecheck

feat(backend): integrate wishlist into core services
  api.py
  core/config.py
  core/middleware.py
  services/category_manager.py
  services/credentials_service.py
  services/rollup_service.py
  services/sync_service.py
Due: mypy

feat(settings): add wishlist settings integration
  frontend/src/components/settings/BackupRestoreModal.tsx
  frontend/src/components/settings/NotesToolCard.tsx
  frontend/src/components/settings/RecurringToolSettings.tsx
  frontend/src/components/settings/UpdatesSection.tsx
  frontend/src/components/settings/index.ts
  frontend/src/components/tabs/SettingsTab.tsx
Due: frontend-lint, frontend-typecheck

chore(ui): update UI components for wishlist integration
  frontend/src/components/CredentialUpdateForm.tsx
  frontend/src/components/ElectronTitleBar.tsx
  frontend/src/components/EmojiPicker.tsx
  frontend/src/components/LoginForm.tsx
  frontend/src/components/MfaReauthPrompt.tsx
  frontend/src/components/ResetAppModal.tsx
  frontend/src/components/ui/ErrorPage.tsx
  frontend/src/components/ui/Modal.tsx
  frontend/src/components/ui/StartupLoadingScreen.tsx
Due: frontend-lint, frontend-typecheck

refactor: remove legacy ideas feature
  data/ideas.json
  frontend/functions/api/ideas.ts
  frontend/src/components/IdeasModal.tsx
  frontend/src/components/marketing/IdeasBoard/IdeasBoard.tsx
Due: frontend-lint, frontend-typecheck

chore: remove debug console.log statements
  frontend/src/utils/calculations.ts
  frontend/src/utils/itemCalculations.ts
Due: frontend-lint, frontend-typecheck

fix: initialize total_target and total_saved as floats
  services/wishlist_service.py
Due: mypy

fix: regenerate requirements-dev.txt to include beautifulsoup4
  requirements-dev.txt
Due: none

fix: add missing enable_category_rollover to MockCategoryManager
  tests/test_rollup_service.py
Due: none

fix: add missing vitest mocks for new desktop dependencies
  desktop/src/test/setup.ts
Due: none

fix: use button with window.open instead of anchor href for URLs
  frontend/src/components/wishlist/EditWishlistModal.tsx
  frontend/src/components/wishlist/NewWishlistModal.tsx
Due: frontend-lint, frontend-typecheck

fix: address CodeQL security alerts
  blueprints/wishlist.py
  core/__init__.py
  core/sanitization.py
  desktop/src/main/bookmarks/permissions/macos.ts
  desktop/src/main/diagnostics.ts
  services/metadata_service.py
Due: mypy

fix: additional CodeQL security improvements
  blueprints/wishlist.py
  core/__init__.py
  core/sanitization.py
  services/metadata_service.py
Due: mypy

refactor: reduce cognitive complexity and fix lint warnings
  frontend/src/components/layout/AppShell.tsx
  frontend/src/components/layout/DiagnosticsPromptDialog.tsx
  frontend/src/components/layout/HelpDropdown.tsx
  frontend/src/components/passphrase/PassphraseHeader.tsx
  frontend/src/components/passphrase/PassphrasePrompt.tsx
  frontend/src/components/passphrase/index.ts
  frontend/src/components/settings/SettingsHeader.tsx
  frontend/src/components/settings/index.ts
  frontend/src/components/tabs/SettingsTab.tsx
  frontend/src/components/tabs/WishlistTab.tsx
  frontend/src/components/wishlist/ArchivedItemsSection.tsx
  frontend/src/components/wishlist/BrowserSetupModal.tsx
  frontend/src/components/wishlist/EditWishlistForm.tsx
  frontend/src/components/wishlist/EditWishlistModal.tsx
  frontend/src/components/wishlist/EditWishlistProgress.tsx
  frontend/src/components/wishlist/IgnoredBookmarksSection.tsx
  frontend/src/components/wishlist/NewWishlistForm.tsx
  frontend/src/components/wishlist/NewWishlistImageUpload.tsx
  frontend/src/components/wishlist/NewWishlistModal.tsx
  frontend/src/components/wishlist/PendingReviewRow.tsx
  frontend/src/components/wishlist/WishlistCard.tsx
  frontend/src/components/wishlist/WishlistCategoryModal.tsx
  frontend/src/components/wishlist/WishlistCategoryModalViews.tsx
  frontend/src/components/wishlist/WishlistFormFields.tsx
  frontend/src/components/wishlist/WishlistHeader.tsx
  frontend/src/components/wishlist/WishlistImageUpload.tsx
  frontend/src/components/wishlist/WishlistItemImage.tsx
  frontend/src/components/wishlist/WishlistRow.tsx
  frontend/src/components/wishlist/index.ts
  frontend/src/components/wishlist/useEditWishlistHandlers.ts
  frontend/src/components/wishlist/utils.ts
  frontend/src/components/wizards/wishlist/steps/FolderSelectionStep.tsx
  frontend/src/components/wizards/wishlist/steps/folderTreeUtils.ts
  frontend/src/hooks/index.ts
  frontend/src/hooks/useWishlistSync.ts
Due: frontend-lint, frontend-typecheck

fix(test): add missing __CHANGELOG__ and __BUILD_TIME__ globals to test setup
  frontend/src/test/setup.ts
Due: frontend-lint, frontend-typecheck

fix(api): handle null plannedAmount in savings goals
  services/category_manager.py
Due: mypy

feat(export): add notes and wishlist to settings export/import
  blueprints/settings.py
  services/encrypted_export_service.py
  services/settings_export_service.py
Due: mypy

feat(demo): add notes and wishlist export/import support
  frontend/src/api/demo/demoSettings.ts
  frontend/src/api/demo/demoSettingsExport.ts
Due: frontend-lint, frontend-typecheck

feat(ui): update import preview to show notes and wishlist
  frontend/src/components/import/ImportPreviewSection.tsx
  frontend/src/components/import/ImportSettingsModal.tsx
Due: frontend-lint, frontend-typecheck

test: update export version expectation to 1.1
  frontend/src/api/settingsExport.test.ts
Due: frontend-lint, frontend-typecheck

fix(installer): skip data deletion prompt during silent uninstall
  desktop/installer/custom.nsh
Due: none

fix(installer): skip data deletion prompt during Windows upgrades
  desktop/installer/custom.nsh
Due: none

fix(layout): use flexbox for proper viewport height handling
  frontend/src/index.css
Due: none

style(scrollbar): apply thin scrollbar styling globally
  frontend/src/index.css
Due: none

fix(backend): fix mypy type errors in settings export service
  services/settings_export_service.py
Due: mypy

docs: add Wishlist feature to marketing site and documentation
  README.md
  docusaurus/docs/intro.mdx
  docusaurus/docs/wishlist/_category_.json
  docusaurus/docs/wishlist/overview.mdx
  docusaurus/sidebars.ts
  frontend/src/components/wishlist/WishlistCardGrid.tsx
  frontend/src/data/features.ts
Due: frontend-lint, frontend-typecheck

fix(wishlist): resolve image storage path and CSP issues
  desktop/src/main/wishlist/imageStorage.ts
  frontend/src/components/wishlist/NewWishlistImageUpload.tsx
Due: frontend-lint, frontend-typecheck

feat(ui): add HoverCard component
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/ui/HoverCard.tsx
  frontend/src/components/ui/index.ts
Due: frontend-lint, frontend-typecheck

feat(stash): add available-to-stash calculation types and utils
  .claude/rules/available-to-stash.md
  frontend/src/types/availableToStash.ts
  frontend/src/utils/availableToStash.ts
Due: frontend-lint, frontend-typecheck

chore: add dev script logging to dev.log
  scripts/dev.sh
Due: none

deps: update monarchmoney fork for savings goals
  requirements-vcs.txt
Due: none

feat(api): extend stash and category API layer
  frontend/src/api/core/categories.ts
  frontend/src/api/core/index.ts
  frontend/src/api/core/stash.ts
  frontend/src/api/demo/demoCategories.ts
  frontend/src/api/demo/demoStash.ts
  frontend/src/api/demo/demoStashCrud.ts
  frontend/src/api/demo/index.ts
  frontend/src/api/demoData.ts
  frontend/src/api/queries/categoryGroupStoreQueries.ts
  frontend/src/api/queries/index.ts
  frontend/src/api/queries/keys.ts
  frontend/src/api/queries/stashQueries.ts
Due: frontend-lint, frontend-typecheck

feat(ui): add ModalButtons component for standardized modal buttons
  frontend/src/components/ui/ModalButtons.tsx
  frontend/src/components/ui/index.ts
Due: frontend-lint, frontend-typecheck

refactor(ui): update modal and component patterns
  frontend/src/components/EmojiPicker.tsx
  frontend/src/components/LinkCategoryModal.tsx
  frontend/src/components/RollupZone.tsx
  frontend/src/components/icons/index.tsx
  frontend/src/components/notes/ExportNotesModal.tsx
  frontend/src/components/notes/RevisionHistoryModal.tsx
  frontend/src/components/recurring/RecurringItemBudget.tsx
  frontend/src/components/rollup/RollupStats.tsx
  frontend/src/components/settings/CashAccountSelectionModal.tsx
  frontend/src/components/settings/HiddenCategoriesModal.tsx
  frontend/src/components/ui/Modal.tsx
  frontend/src/components/uninstall/UninstallModal.tsx
Due: frontend-lint, frontend-typecheck

docs(wiki): update Monarch URLs to new domain
  wiki/Home.md
  wiki/Introduction.md
  wiki/self-hosting-overview.md
Due: none

refactor(modals): update core app modals to use ModalButtons
  frontend/src/components/AutoSyncSecurityModal.tsx
  frontend/src/components/LinkCategoryModal.tsx
  frontend/src/components/LoginForm.tsx
  frontend/src/components/MfaCodeCaveatsModal.tsx
  frontend/src/components/ResetAppModal.tsx
  frontend/src/components/SecurityPanel.tsx
  frontend/src/components/SyncButton.tsx
  frontend/src/components/WhatsNewModal.tsx
  frontend/src/components/layout/AppShell.tsx
  frontend/src/components/layout/DiagnosticsPromptDialog.tsx
Due: frontend-lint, frontend-typecheck

feat(stash): add image picker and upload components
  frontend/src/components/stash/ImagePickerDropdown.tsx
  frontend/src/components/stash/ImagePickerMenu.tsx
  frontend/src/components/stash/ImageSearchModal.tsx
  frontend/src/components/stash/NewStashImageUpload.tsx
  frontend/src/components/stash/StashImageUpload.tsx
  frontend/src/components/stash/StashItemImage.tsx
  frontend/src/hooks/useStashImageUpload.ts
Due: frontend-lint, frontend-typecheck
