Repository 312-dev/eclosion-for-monarch: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-file-length, frontend-lint, frontend-typecheck

.pre-commit-config.yaml:

# Pre-commit hooks for Eclosion
# Install: pre-commit install
# Run manually: pre-commit run --all-files

default_language_version:
  python: python3.11

# Note: Gitleaks was removed from pre-commit due to hanging issues.
# Secret scanning is handled by GitHub's secret scanning and CI checks.

repos:
  # General file checks (fast - run first for fail-fast)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ["--maxkb=1000"]
      - id: detect-private-key
      - id: check-yaml
        args: [--unsafe]
      - id: check-json
        exclude: ^frontend/
      - id: trailing-whitespace
        exclude: ^frontend/
      - id: end-of-file-fixer
        exclude: ^frontend/

  # Ruff - Python linting and formatting (very fast)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.11
    hooks:
      # Linter
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        types_or: [python, pyi]
        exclude: ^frontend/
      # Formatter (replaces black)
      - id: ruff-format
        types_or: [python, pyi]
        exclude: ^frontend/

  # Local hooks for additional checks
  # Note: mypy moved to pre-push for speed (type checking is slow)
  - repo: local
    hooks:
      # Python file length check (like ESLint max-lines for frontend)
      - id: python-file-length
        name: python-file-length
        entry: python scripts/check-file-length.py
        language: system
        types: [python]
        exclude: ^(frontend/|tests/|lib/|scripts/)
        pass_filenames: true

      # Frontend linting - only changed files for speed
      - id: frontend-lint
        name: frontend-lint
        entry: npx eslint --max-warnings=0 -c frontend/eslint.config.js
        language: system
        files: ^frontend/src/.*\.(ts|tsx)$
        pass_filenames: true

      # Frontend type checking (must check whole project for type coherence)
      - id: frontend-typecheck
        name: frontend-typecheck
        entry: bash -c 'cd frontend && npm run type-check'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false

chore(security): add CodeQL config to exclude false positives
  .github/codeql/codeql-config.yml
  .github/workflows/10-security.yml
Due: none

chore(security): expand SSRF query exclusions in CodeQL config
  .github/codeql/codeql-config.yml
Due: none

fix(ci): use HEAD instead of tag for release notes generation
  .github/workflows/20-release-beta.yml
  .github/workflows/21-release-stable.yml
Due: none

fix(ci): correct beta manifest URLs for auto-updater
  .github/workflows/23-build-desktop.yml
Due: none

fix(ci): consolidate AI summary into release workflows
  .github/workflows/20-release-beta.yml
  .github/workflows/21-release-stable.yml
  .github/workflows/44-update-release-notes.yml
  scripts/release-notes-updater/generate-notes.ts
Due: none

fix(ci): consolidate AI summary into release workflows (#237)
  .github/workflows/20-release-beta.yml
  .github/workflows/21-release-stable.yml
  .github/workflows/44-update-release-notes.yml
  scripts/release-notes-updater/generate-notes.ts
Due: none

fix: use variable reference for health check endpoint constant
  core/middleware.py
Due: python-file-length

fix: make Restart & Update button clickable on loading screen
  frontend/src/components/ui/StartupUpdateStatus.tsx
Due: frontend-lint, frontend-typecheck

fix: improve backend integrity check with version verification (#238)
  app.py
  blueprints/admin.py
  desktop/src/main/integrity.ts
  frontend/src/api/demo/demoVersion.ts
  frontend/src/components/SecurityPanel.tsx
  frontend/src/components/VersionIndicator.tsx
  frontend/src/components/settings/UpdatesSection.tsx
  frontend/src/components/ui/StartupUpdateStatus.tsx
  frontend/src/types/version.ts
Due: python-file-length, frontend-lint, frontend-typecheck

fix: ensure sqlalchemy and critical packages are included in PyInstaller build
  desktop/pyinstaller/eclosion.spec
Due: none

fix: put x64 files first in merged mac yml for correct fallback
  .github/workflows/23-build-desktop.yml
Due: none

ci: skip environment review for beta Cloudflare deployments
  .github/workflows/22-release-pipeline.yml
Due: none

ci: consolidate Mac yml merge into dedicated job
  .github/workflows/23-build-desktop.yml
Due: none

feat: switch macOS to universal binary build
  .github/workflows/23-build-desktop.yml
  desktop/afterPack.js
  desktop/electron-builder.beta.yml
  desktop/electron-builder.yml
  desktop/src/main/backend.ts
  desktop/src/main/integrity.ts
Due: none

fix: ensure validate-builds runs when docker/screenshots skipped
  .github/workflows/22-release-pipeline.yml
Due: none

ci: skip CodeQL for all releases, add CI polling to stable
  .github/workflows/20-release-beta.yml
  .github/workflows/21-release-stable.yml
  .github/workflows/22-release-pipeline.yml
Due: none

fix: prevent lipo from merging architecture-specific backends
  desktop/electron-builder.beta.yml
  desktop/electron-builder.yml
Due: none

ci: skip integration tests when backend unchanged
  .github/workflows/01-ci.yml
Due: none

ci: gate releases on both CI and Security passing
  .github/workflows/20-release-beta.yml
  .github/workflows/21-release-stable.yml
Due: none

ci: remove redundant integration tests from release workflows
  .github/workflows/20-release-beta.yml
  .github/workflows/21-release-stable.yml
Due: none

fix(mac): remove non-matching backend during universal builds
  desktop/afterPack.js
Due: none

fix(mac): build arm64 and x64 separately instead of universal
  desktop/electron-builder.beta.yml
  desktop/electron-builder.yml
Due: none

fix(mac): add singleArchFiles to skip backend merge check
  desktop/electron-builder.beta.yml
  desktop/electron-builder.yml
Due: none

fix(release): ensure publish-desktop runs when docker/screenshots skipped
  .github/workflows/22-release-pipeline.yml
Due: none

chore(security): remove .github/** from security scan triggers
  .github/workflows/10-security.yml
Due: none

feat(stash): auto-show intro modal on first visit
  frontend/src/components/tabs/StashTab.tsx
  frontend/src/hooks/useAppTour.ts
  frontend/src/hooks/useStashTour.ts
Due: frontend-lint, frontend-typecheck

refactor(desktop): streamline update flow with boot-time and runtime phases
  frontend/src/App.tsx
  frontend/src/components/UpdateBanner.tsx
  frontend/src/components/VersionIndicator.tsx
  frontend/src/components/layout/AppHeader.tsx
  frontend/src/components/settings/UpdatesSection.tsx
  frontend/src/components/ui/StartupLoadingScreen.tsx
  frontend/src/components/ui/StartupUpdateStatus.tsx
  frontend/src/components/update/DesktopUpdateBanner.tsx
  frontend/src/components/update/RuntimeUpdateModal.tsx
  frontend/src/components/update/index.ts
  frontend/src/context/UpdateContext.tsx
Due: frontend-lint, frontend-typecheck

refactor: move requirements files to requirements/ directory
  .github/workflows/01-ci.yml
  .github/workflows/04-build-docker.yml
  .github/workflows/23-build-desktop.yml
  .github/workflows/25-dev-build.yml
  Dockerfile
  requirements/base.in
  requirements/base.txt
  requirements/build.in
  requirements/build.txt
  requirements/dev.in
  requirements/dev.txt
  requirements/vcs.txt
Due: none

chore: consolidate wiki pages to main repo files
  docs/plans/normalized-category-cache.md
  wiki/Contributing.md
  wiki/Security.md
  wiki/_Sidebar.md
Due: none

refactor: reorganize requirements and config files (#240)
  .github/workflows/01-ci.yml
  .github/workflows/04-build-docker.yml
  .github/workflows/10-security.yml
  .github/workflows/23-build-desktop.yml
  .github/workflows/25-dev-build.yml
  Dockerfile
  config/.trivyignore
  config/alembic.ini
  config/trivy.yaml
  docs/plans/normalized-category-cache.md
  requirements/base.in
  requirements/base.txt
  requirements/build.in
  requirements/build.txt
  requirements/dev.in
  requirements/dev.txt
  requirements/vcs.txt
  state/db/database.py
  wiki/Contributing.md
  wiki/Security.md
  wiki/_Sidebar.md
Due: python-file-length

feat: add skeleton loading components and modal scrollbar hook
  .github/workflows/21-release-stable.yml
  frontend/src/components/ui/Skeleton.tsx
  frontend/src/components/ui/SkeletonLayouts.tsx
  frontend/src/hooks/useModalScrollbar.ts
  state/db/inline_migrations.py
Due: python-file-length, frontend-lint, frontend-typecheck

refactor: improve modal, tooltip, and animation components
  frontend/src/components/icons/index.tsx
  frontend/src/components/ui/AnimatedEmoji.tsx
  frontend/src/components/ui/Modal.tsx
  frontend/src/components/ui/Tooltip.tsx
  frontend/src/components/ui/index.ts
  frontend/src/index.css
Due: frontend-lint, frontend-typecheck

feat: enhance release notes generator with structured change analysis
  scripts/release-notes-updater/generate-notes.ts
  scripts/release-notes-updater/generator.ts
  scripts/release-notes-updater/index.ts
Due: none

feat: add local release workflow for self-hosted runner
  .github/workflows/29-release-local.yml
Due: none

fix: adjust runner profiles for Namespace availability
  .github/workflows/23-build-desktop.yml
  .github/workflows/25-dev-build.yml
Due: none

fix: update macOS runners from retired macos-13-xlarge to macos-14-xlarge
  .github/workflows/23-build-desktop.yml
  .github/workflows/25-dev-build.yml
Due: none

fix: use standard macos-13 runner for Intel builds
  .github/workflows/23-build-desktop.yml
  .github/workflows/25-dev-build.yml
Due: none

fix: revert to macos-15-intel for x64 builds (pre-Namespace config)
  .github/workflows/23-build-desktop.yml
  .github/workflows/25-dev-build.yml
Due: none

fix: properly center remote access icon with flex alignment
  frontend/src/components/RemoteAccessIndicator.tsx
  frontend/src/components/icons/RadioIcon.tsx
Due: frontend-lint, frontend-typecheck

fix: add eclosion.app to CSP connect-src for updates API
  desktop/src/main/window.ts
Due: none
